﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<body class="g-sidenav-show  bg-gray-200">
    <div class="container d-flex flex-column">
        <div class="row pt-lg-5 align-items-center justify-content-center">
            <div class="col-lg-5 col-md-8 py-8 py-xl-0">
                <!-- Card -->
                <div class="card shadow">
                    <!-- Card body -->
                    <div class="card-body p-6">
                        <div class="mb-4">
                            <h1 class="mb-1 fw-bold reset-ttl">Change New Password</h1>
                            <span>
                                Already have an account?
                                <a href="/Home/Index" class="ms-1">Sign in</a>
                            </span>
                        </div>
                        <!-- Form -->
                        <form method="post" action="../ResetPassword/ChangePassword">
                            <input type="hidden" name="email" value="@ViewBag.email" />
                            <input type="hidden" name="token" value="@Request.Params["token"]" />
                            <!-- Password -->
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" id="password" class="form-control" name="password" placeholder="**************"
                                       required />
                            </div>
                            <!-- Confirm Password -->
                            <div class="mb-3">
                                <label for="password" class="form-label"> Confirm Password</label>
                                <input type="password" id="password" class="form-control" name="repassword" placeholder="**************"
                                       required />
                            </div>
                            <div>
                                <!-- Button -->
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-padding">
                                        Reset Password
                                    </button>
                                </div>
                            </div>
                            <hr class="my-4" />
                            <div class="mt-4 text-center">
                                <!--Facebook-->
                                <a href="#" class="btn-social btn-social-outline btn-facebook">
                                    <i class="mdi mdi-facebook fs-4"></i>
                                </a>
                                <!--Twitter-->
                                <a href="#" class="btn-social btn-social-outline btn-twitter">
                                    <i class="mdi mdi-twitter fs-4"></i>
                                </a>
                                <!--LinkedIn-->
                                <a href="#" class="btn-social btn-social-outline btn-linkedin">
                                    <i class="mdi mdi-linkedin"></i>
                                </a>
                                <!--GitHub-->
                                <a href="#" class="btn-social btn-social-outline btn-github">
                                    <i class="mdi mdi-github"></i>
                                </a>
                            </div>
                        </form>
                        <div class="mb-1 d-flex">
                            @if (Request.Params["mess"] != null)
                            {
                                <div class="alert alert-warning w-80 p-1" role="alert">
                                    @Request.Params["mess"]
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
