﻿.reset-message {
    color: #ff0000;
    margin-top: 10px;
}

.reset-ttl {
    font-size: 20px;
}
.reset-margin--alert {
    margin-left: 25px;
}
.reset-text {
    font-size: 14px;
}

.form-label--size {
    font-size: 17px;
}

.btn-padding {
    background: #C4C4C4;
    border-radius: 15px;
    padding: 2px 15px;
}
.reset-margin {
    margin-top: 100px;
}