body {
    font-family    : 'Poppins', sans-serif !important;
    min-height     : 100vh;

    position       : relative;
    padding-bottom : 100px;
}

.footer {
    position         : absolute;
    bottom           : 0;
    width            : 100%;
    height           : 100px;

    background-color : #efefef;
}

.footer-content {
    padding : 30px 0;
}

.footer-content > p {
    font-size : 14px;
    margin    : 0;

    color     : #696969;
}

.header {
    padding          : 20px 0;
    background-color : #ffffff;

    box-shadow       : 0 1px 6px #cecece;
}

.logo {
    display        : flex;
    flex-direction : row;

    align-items    : center;
    column-gap     : 20px;
}

.logo > img {
    border-radius : 10em;
}

.logo > p {
    margin : 0;
}

.logo > img {
    height : 40px;
    width  : 40px;
}

.cart {
    margin-left      : 14px;

    background-color : #cccccc;
    width            : 45px;
    height           : 45px;

    border-radius    : 10em;

    display          : flex;
    justify-content  : center;
    align-items      : center;

    transition       : background-color ease-in-out 0.3s;
}

.cart:hover {
    background-color : #afafaf;
}

.button_login_register {
}

.button_login_register > button {
    padding          : 8px 18px;
    background-color : #0c99ff;

    outline          : none;
    border           : 2px solid #0c99ff;

    border-radius    : 10em;
    transition       : background-color ease-in-out 0.3s;
}

.button_login {
    border           : 2px solid lightgray !important;
    background-color : white !important;
}

.button_login:hover {
    background-color : #e7e7e7 !important;
}

.button_register {
    color        : white;
    font-weight  : bold;

    margin-right : 10px;
}

.button_register:hover {
    background-color : #0c82d7;
}

.navigation {
    list-style : none;

    margin     : 10px 0 0 0;
}

.navigation a {
    font-size       : 18px;
    color           : black;
    text-decoration : none;
}


/* Login */

.login_title {
    font-size   : 16px;
    font-weight : bold;
}

.login_form {
    border-radius : 10px;
    padding       : 20px;
}

.form_input_login {
    outline          : none;
    border-radius    : 10em;
    border           : 2px solid lightgray;
    padding          : 6px 14px;
    font-size        : 14px;
    background-color : #fafafa;
}

.form_login {
    width   : 100%;
    padding : 0 40px;
}

.form_login td {
    padding : 5px 0;
}

.form_login table {
    width : 100%;
}

.form_login input {
    width : 100%;
}

.title_form_login {
    font-size   : 12px;
    font-weight : bold;
}

.submit_button_form {
    outline          : none;
    padding          : 4px 20px;
    background-color : #0c99ff;
    border           : none;
    border-radius    : 10em;
    color            : white;
    font-size        : 14px;
    margin-top       : 10px;
}

.link_change_password {
    font-size       : 14px;
    font-style      : italic;
    color           : #0a53be;
    text-decoration : none;
    margin-top      : 4px;
}

.other_change_password {
    font-size  : 14px;
    text-align : center;
}

.btn_welcome {
    outline          : none;
    border           : none;
    background-color : #0c99ff;
    color            : white;
    padding          : 10px 22px;
    border-radius    : 10em;
}

.alert_fail {
    position   : fixed;
    bottom     : 0;
    left       : 1rem;
    font-size  : 12px;
    z-index    : 999;

    box-shadow : 0 1px 12px #cecece;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance : none;
    margin             : 0;
}

input[type=number] {
    -moz-appearance : textfield;
}

.search-product {
    margin-top : 12px;
    text-align : center;
}

.search-product > input {
    width            : 600px;
    outline          : none;
    border           : 2px solid #afafaf;
    border-radius    : 10em;
    padding          : 8px 50px 8px 20px;
    font-size        : 14px;
    background-color : #fafafa;
}

.search-product > button {
    outline          : none;
    border           : none;
    background-color : transparent;
    position         : relative;
    left             : -50px;
}

.email-profile {
    font-size : 14px;
    margin    : 8px 0 8px 10px;
    color     : #696969;
}

.change-image-profile {
    position        : relative;

    display         : flex;
    justify-content : center;
    margin-bottom   : 20px;
}

.change-image-profile_child {
    width    : 120px;
    height   : 120px;
    position : relative;
}

.contain-button-edit {
    width            : 120px;
    height           : 120px;
    position         : absolute;

    top              : 0;
    left             : 0;

    cursor           : pointer;

    display          : flex;
    justify-content  : center;
    align-items      : center;

    border-radius    : 10em;
    background-color : transparent;
    transition       : background-color ease-in-out 0.2s;
}

.contain-button-edit:hover {
    background-color : rgba(227, 227, 227, 0.78);
}

.image-avatar-pen-edit {
    width      : 20px;
    height     : 20px;

    opacity    : 0;
    transition : opacity ease-in-out 0.2s;
}

.contain-button-edit:hover > .image-avatar-pen-edit {
    opacity : 1;
}

.image-avatar {
    width         : 120px;
    height        : 120px;

    border-radius : 10em;
}

#image-profile {
    display : none;
}

.icons-menu-profile {
    margin-right  : 10px;
    padding-right : 10px;
}

.icons-menu-profile {
    border-right : 1px solid #afafaf;
}