﻿.product {
    width: 33%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: center;
    border: 5px groove;
    
}
.product-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.img {
    width: 100%;
    height: 100%;
}
.imgS{
    width:100%;
    height:60%;
  }
.product-pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0;
}
.product-pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

    .product-pagination a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
    }

    .product-pagination a:hover:not(.active) {
        background-color: #ddd;
    }

