.completion {
    width           : 100%;
    height          : 180px;

    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
}

.completion > div {
    width           : 300px;
    height          : 180px;

    padding         : 10px 20px;
    box-shadow      : 0 0 10px 0 rgba(0, 0, 0, 0.11);
    border-radius   : 10px;

    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
}
