.order-list {
    display        : flex;
    flex-direction : column;
    row-gap        : 10px;

    height         : 600px;
    overflow-y     : auto;
}

.i-o {
    padding         : 10px 10px;
    box-shadow      : 0 0 10px 0 rgba(0, 0, 0, 0.11);
    border-radius   : 10px;

    display         : flex;
    flex-direction  : row;
    column-gap      : 12px;

    cursor          : pointer;

    transition      : box-shadow 0.2s ease-out;

    color           : black;
    text-decoration : none;
}

.i-o-selected {
    box-shadow : 0 0 10px 0 rgba(0, 0, 0, 0.40);
}

.i-o:hover {
    box-shadow : 0 0 10px 0 rgba(0, 0, 0, 0.40);
}

.i-o > img {
    width         : 80px;
    height        : 80px;
    object-fit    : cover;
    border-radius : 5px;
}

.i-o-item-content {
    width           : 100%;

    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
}

.i-o-item-content p {
    margin : 0;
}

.i-o-item-content-text-small {
    font-size : 14px;
}

.order-list-detail {
    padding       : 10px 10px;
    box-shadow    : 0 0 10px 0 rgba(0, 0, 0, 0.11);
    border-radius : 10px;

    height        : fit-content;
    margin-bottom : 20px;
}

.list-product-my-order-item {
    padding       : 10px 10px;
    box-shadow    : 0 0 10px 0 rgba(0, 0, 0, 0.11);
    border-radius : 10px;

    display       : flex;
    column-gap    : 20px;
}

.list-product-my-order-item > div {
    width           : 100%;

    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
}

.list-product-my-order-item > img {
    width         : 80px;
    height        : 80px;
    object-fit    : cover;
    border-radius : 5px;
}

.list-product-my-order-item-category {
    font-size : 12px;
    color     : #a2a2a2;
}

.button-my-order-item-feedback {
    padding          : 2px 12px;
    background-color : #0c99ff;

    outline          : none;
    border           : 2px solid #0c99ff;

    border-radius    : 10em;
    transition       : background-color ease-in-out 0.3s;

    color            : white;

    text-decoration  : none;
    cursor           : pointer;
}

.button-my-order-item-feedback:hover {
    color           : white;

    text-decoration : none;
}

.button-my-order-item-feedback:hover {
    background-color : #1389de;
}

.list-product-my-order-item-info {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : center;
}

.list-product-my-order-1 {
    display        : flex;
    flex-direction : column;
    row-gap        : 10px;
}

.order-detail-cost {
    border-left : 1px solid #a2a2a2;
}

.myor-my-order-price-content-item {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : center;
}
