.my-order {
    font-family : 'Poppins', sans-serif !important;
}

.my-order-price {
    padding       : 10px 20px;
    box-shadow    : 0 0 10px 0 rgba(0, 0, 0, 0.11);
    border-radius : 10px;
}

.my-order-price-content-item {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : center;
}

.button-complete-my-order {
    padding          : 8px 18px;
    background-color : #0c99ff;

    outline          : none;
    border           : 2px solid #0c99ff;

    border-radius    : 10em;
    transition       : background-color ease-in-out 0.3s;

    color            : white;
}

.button-complete-my-order:hover {
    background-color : #1389de;
}

.information-contact-edit {
    padding       : 10px 20px;
    box-shadow    : 0 0 10px 0 rgba(0, 0, 0, 0.11);
    border-radius : 10px;
}

.input-information-contact {
    outline          : none;
    border-radius    : 10em;
    border           : 2px solid lightgray;
    padding          : 6px 14px;
    font-size        : 14px;
    background-color : #fafafa;

    width            : 100%;
}

textarea.input-information-contact {
    resize        : none;
    border-radius : 20px;
}

.information-title-contact {
    font-size : 14px;
}
