.my-order {
    font-family : 'Poppins', sans-serif !important;
}

.list-product-my-order {
    display        : flex;
    flex-direction : column;
    row-gap        : 20px;
    width          : 100%;
}

.item-my-order {
    width         : 100%;
    height        : 120px;

    padding       : 10px;
    box-shadow    : 0 0 10px 0 rgba(0, 0, 0, 0.11);
    border-radius : 10px;

    display       : flex;
    column-gap    : 20px;
}

.image-product-my-order {
    height        : 100px;
    width         : 100px;

    object-fit    : cover;

    border-radius : 5px;
}

.item-my-order-title {
    font-size : 18px;
    margin    : 0;
}

.item-my-order-category {
    color     : #a2a2a2;
    font-size : 12px;
    margin    : 0;
}

.action-my-order {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : center;
}

.action-my-order button {
    outline          : none;
    border           : none;
    background-color : transparent;
}

.action-my-order > p {
    margin-bottom : 0;
    margin-left   : 10px;
    margin-right  : 10px;
}

.action-my-order-control {
    display         : flex;
    flex-direction  : row;
    justify-content : end;
    align-items     : center;

    column-gap      : 30px;
}

.action-my-order-control strong {
    color : red;
}

.product-detail-my-order {
    width           : 100%;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
}

.product-detail-my-order-title {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : flex-start;
}

.product-detail-my-order-title button {
    margin           : 2px 4px 0 0;
    outline          : none;
    border           : none;
    background-color : transparent;
}

.my-order-price {
    padding       : 10px 20px;
    box-shadow    : 0 0 10px 0 rgba(0, 0, 0, 0.11);
    border-radius : 10px;
}

.my-order-price-content-item {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : center;
}

.button-add-contact-my-order {
    padding          : 8px 18px;
    background-color : #0c99ff;

    outline          : none;
    border           : 2px solid #0c99ff;

    border-radius    : 10em;
    transition       : background-color ease-in-out 0.3s;

    color            : white;
}

.button-add-contact-my-order:disabled {
    background-color : #a2a2a2 !important;
    border           : 2px solid #a2a2a2 !important;
    cursor           : not-allowed;
}

.button-add-contact-my-order:hover {
    background-color : #1389de;
}
