@{
    ViewBag.Title = "HomePage";
    Layout = "../Shared/_CommonLayout.cshtml";


}

@model Project.Models.HomeViewModel1
<body class="home-body">
    <div class="container">
        <div class="row">
            <div class="introduce">
                <div class="col-7 slider">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        @*<div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div> *@
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <img src="@Model.Slider.ToList()[0].Image" class="d-block w-100 slider-image" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="slider-title"><a href="@Model.Slider.ToList()[0].BackLink">@Model.Slider.ToList()[0].Title</a></h5>
                                </div>
                            </div>

                            @foreach (var slider in Model.Slider)
                            {
                                <div class="carousel-item">
                                    <img src="@slider.Image" class="d-block w-100 slider-image" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5 class="slider-title"><a href="@slider.BackLink">@slider.Title</a></h5>
                                    </div>

                                </div>
                            }
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-5 blog-homepage">
                    <div class="col-6 blog-view">
                        <img class="blog-image" src="@Model.NewBlog.Image" />
                        <p class="blog-title">@Model.NewBlog.Title</p>
                    </div>
                    <div class="col-5 blog-description">
                        <p class="blog-desc">
                            @Model.NewBlog.Detail
                        </p>
                        <a class="blog-more" href="../../Blog/BlogDetail/@Model.NewBlog.Id">Read more</a>
                    </div>
                    
                </div>
               
            </div>
            
        </div>

                <div class="row">
                    <div class="home-content">
                        <div class="col-2 home-category">
                            <p class="home-category-title">Category</p>
                            <ul>
                                @foreach (var cate in Model.Categories)
                                {
                                    <li class="home-category-items">
                                        <a href="../../Product/ProductList/@cate.Id">@cate.Title</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="col-10 home-product">
                            <!--ProductItem Load-->
                            @foreach (var pr in Model.Products)
                            {
                                <div class="col-2 home-product-detail">
                                    <img src="@pr.ImageProducts.ToList()[0].Image" />
                                    <p class="home-product-title"><a class="product-link" href="../../Product/ProductDetail/@pr.Id">@pr.Title</a></p>
                                    <p class="home-product-sale"><h6>SalePrice: @pr.SalePrice</h6></p>
                                    <p class="home-product-price">$@pr.OriginalPrice</p>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
</body>