﻿@{
    ViewBag.Title = "title";
    Layout = "../Shared/_CommonLayout.cshtml";
}

<div class="container">
    <h3 class="my-order-title">My Order</h3>
    <div class="col-12 my-order">
        <div class="col-4 my-order-image">

        </div>
        <div class="col-8 my-order-detail">
            <p>My order title</p>
            <p>Order date</p>
            <p>Total: $price</p>
        </div>
    </div>
</div>
