﻿@model Project.Controllers.PostListViewModel
@{
    
    Layout = "~/Views/Shared/_MarketingLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/style.css" />
<link rel="stylesheet" href="~/Content/blog/blogList.css" />

@{
    var message = TempData["successmessage"] ?? string.Empty;
}

<script type="text/javascript">
var message = '@message';
if(message)
    alert(message);
</script>
<h2>Post List </h2>
<div class="card">
    <div style="padding: 10px 10px 10px 10px" class="row">
        <div class="col-lg-12">
            <section class="widget">
                <header>
                   
                    <div>
                        @using (Html.BeginForm("Search", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div style="display:inline-block">
                                <div style="color: #67748e">Filter by Author</div>
                                <select id="author" name="author" class="form-select">
                                    <option selected>Select Author</option>
                                    @foreach (var item in Model.Authors)
                                    {
                                        <option value="@item.Id">@item.FullName</option>
                                    }
                                </select>
                            </div>


                            <div style="display:inline-block; padding-left: 10px;">
                                <div style="color: #67748e ">Search by Id or name </div>
                                <div><input id="idOrName" name="idOrName" type="search" class="form-control rounded" placeholder="Search" /></div>
                            </div>
                            <div style="display:inline-block"><input type="submit" style="background-color:lightgray;margin-top:1rem" class="btn btn-default" value="Search" /></div>
                            <div style="display:inline-block;float:right;margin-right:70px">
                                <a style="margin-top:1rem" class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Create post</a>
                            </div>
                        }

                    </div>
                    
                    </header>
                <div class="widget-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="d-none d-md-table-cell">#</th>
                                    <th>Image</th>
                                    <th>Description</th>
                                    <th class="d-none d-md-table-cell">Author</th>
                                    <th class="d-none d-md-table-cell">Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Posts)
                                {
                                    <tr>
                                        <td class="d-none d-md-table-cell">@item.Id</td>
                                        <td>
                                            <img class="img-rounded" src="@item.Image" alt="" height="50">
                                        </td>
                                        <td style="white-space:normal">
                                            <a href="../../MKT/PostDetail/@item.Id">@item.Title</a>
                                        </td>
                                        <td class="d-none d-md-table-cell text-semi-muted">
                                            @item.AuthorName
                                        </td>
                                        <td>
                                            @if (item.CountView > 2000)
                                            {
                                                <span class="badge badge-danger">Hot</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-success">Trending</span>
                                            }
                                        </td>
                                        <td class="width-150">
                                            <a style="background-color:burlywood;color:white" class="btn">Edit</a>
                                            <a style="background-color: coral; color: white" class="btn" onclick="confirm('Do you want to delete this post?')" href="/Post/Delete/@item.Id/@ViewBag.Index">Delete</a>
                                        </td>

                                    </tr>
                                }

                            </tbody>

                        </table>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>
<style>
    .blog-pagination a {
        color: #67748e;
        font-weight: bold;
    }
</style>
<div class="blog-pagination">
    @if (ViewBag.Index != null && ViewBag.Index > 1)
    {
        <a href="/Post/List/@(ViewBag.Index-1)">Previous</a>
    }
    else
    {
        <a href="#">Previous</a>
    }

    @for (double i = 1; i < (((double)ViewBag.count) / 7) + 1; i++)
    {
        if (i == ViewBag.Index)
        {
            <a style="background-color:khaki" href="/Post/List/@(i)">@i</a>
        }
        else
        {
            <a href="/Post/List/@(i)">@i</a>
        }

    }
    @if (ViewBag.Index != null && ViewBag.Index * 7 < ViewBag.count)
    {
        <a href="/Post/List/@(ViewBag.Index + 1)">Next</a>
    }
    else
    {
        <a href="#">Next</a>
    }
</div>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Create post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div>
                        <label>Title of Post</label>
                        <input type="text" id="Title" name="Title" class="form-control" placeholder="Enter Title">
                    </div>

                    <div>
                        <label>Author</label>
                        <select id="Author" name="Author" class="form-select">
                            <option selected>Select Author</option>
                            @foreach (var item in Model.Authors)
                            {
                                <option value="@item.Id">@item.FullName</option>
                            }
                        </select>
                    </div>

                    <div>
                        <label> Detail </label>
                        <textarea name="Detail" id="Detail" class="form-control" placeholder="Enter detail"></textarea>
                    </div>
                    <div>
                        <label> Upload image </label>
                        <input type="file" id="File" class="form-control" aria-label="Upload" name="File" accept="image/*" onfocus="focused(this)" onfocusout="defocused(this)">

                    </div>
                    <div>
                        <input class="btn btn-primary" type="submit" value="Add" />
                    </div>
                }

            </div>
        </div>
    </div>
</div>

