@model Project.Controllers.HomeViewLayout

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <!-- main layout css -->
    <link rel="stylesheet" href="~/Content/layout/commonLayout.css">

    <!-- custom css -->
    <link rel="stylesheet" href="~/Content/home-page.css" />
    <link rel="stylesheet" href="~/Content/my-order.css" />
    <link rel="stylesheet" href="~/Content/cart/feedback.css" />
    <link rel="stylesheet" href="~/Content/cart/style-contact.css" />
    <link rel="stylesheet" href="~/Content/cart/style.css" />
    <link rel="stylesheet" href="~/Content/feedback/feedback.css" />
    <link rel="stylesheet" href="~/Content/cart/completion.css" />
    <link rel="stylesheet" href="~/Content/user-list.css" />
    <link rel="stylesheet" href="~/Content/cart/my-order.css" />
    <link rel="stylesheet" href="~/Content/blog/blogDetail.css" />
    <link rel="stylesheet" href="~/Content/blog/blogList.css" />
    <link rel="stylesheet" href="~/Content/resetpass/forgotpass.css" />
    <link rel="stylesheet" href="~/Content/resetpass/forgotpassForm.css" />
</head>
<body>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="logo">
                    <img src="https://res.cloudinary.com/dvuqazqqs/image/upload/v1655400265/Brown_and_Beige_Cartoon_playful_Happy_Bunny_logo_4_j4ya31.jpg" alt="">
                    <p>Online Shop</p>
                </div>
            </div>
            <div class="col">
                <ul class="d-flex flex-row align-items-center justify-content-around navigation">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/Blog/Index">Post</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div class="d-flex flex-row align-items-center justify-content-end">

                    @if (Model.Account == null)
                    {
                        <div class="button_login_register">
                            <button type="button" class="button_register" data-bs-toggle="modal" data-bs-target="#register">
                                Register
                            </button>
                            <button type="button" class="button_login" data-bs-toggle="modal" data-bs-target="#login">
                                Login
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="btn-group">
                            <button type="button" class="dropdown-toggle btn_welcome" data-bs-toggle="dropdown" aria-expanded="false">
                                Welcome! @Model.Account.FullName.Split(' ')[Model.Account.FullName.Split(' ').Length - 1]
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#profile"><img class="icons-menu-profile" src="https://img.icons8.com/ios-glyphs/20/undefined/user-male-circle.png" alt="" /> Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/my-order"><img class="icons-menu-profile" src="https://img.icons8.com/ios-glyphs/20/undefined/purchase-order.png" alt="" /> My order</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/feedback"><img class="icons-menu-profile" src="https://img.icons8.com/ios-glyphs/20/undefined/feedback.png" alt="" /> Feedback</a>
                                </li>
                                @{
                                    if (Model.Account.Role == 0 || Model.Account.Role == 4)
                                    {
                                        <li>
                                        <a class="dropdown-item" href="../Slider" type="button"><img class="icons-menu-profile" src="https://img.icons8.com/ios-glyphs/20/undefined/feedback.png" alt="" /> Slider</a>
                                        </li>
                                    }
                                }
                                <li>
                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#change"><img class="icons-menu-profile" src="https://img.icons8.com/ios-glyphs/20/undefined/password--v1.png" alt="" /> Change Password</a>
                                </li>
                                <hr style="margin: 6px 0">
                                <li>
                                    <a class="dropdown-item" href="/Auth/Logout"><img class="icons-menu-profile" src="https://img.icons8.com/ios-glyphs/20/undefined/exit.png" alt="" /> Logout</a>
                                </li>
                            </ul>
                        </div>
                        <div class="cart float-end">
                            <a href="/cart" title="Cart">
                                <img src="https://img.icons8.com/material-rounded/20/ffffff/shopping-cart-loaded.png" alt="cart"/>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            @using (Html.BeginForm("ProductList", "Product", FormMethod.Get, new { enctype = "multipart/form-data" }))
            {
                <div class="col">

                    <div class="search-product">

                        <input type="text" name="search" placeholder="Search">
                        <button type="submit">
                            <img src="https://img.icons8.com/material-rounded/20/afafaf/search.png" alt="search" />
                        </button>

                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Login -->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="login" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content login_form">
            <div class="text-end">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="form_login">
                <p class="login_title text-center">Login</p>
                @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
                {
                    <table>
                        <tr>
                            <td class="title_form_login">Email:</td>
                            <td>
                                <input class="form_input_login" type="email" name="email" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="title_form_login">Password:</td>
                            <td>
                                <input class="form_input_login" type="password" name="password" required>
                            </td>
                        </tr>
                    </table>
                    <a class="link_change_password text-end" href=/ResetPassword/Index>
                        <p>Forgot password</p>
                    </a>
                    <div class="text-center">
                        <button class="submit_button_form" type="submit">Login</button>
                    </div>
                }
                <hr/>
                <p class="other_change_password">Don't have an account, <a class="link_change_password" data-bs-toggle="modal" href="#register" role="button">register here</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Register -->
<div class="modal fade" id="register" tabindex="-1" aria-labelledby="login" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content login_form">
            <div class="text-end">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="form_login">
                <p class="login_title text-center">Register</p>
                @using (Html.BeginForm("Register", "Auth", FormMethod.Post))
                {
                    <table>
                        <tr>
                            <td class="title_form_login">Full name:</td>
                            <td>
                                <input class="form_input_login" type="text" name="name" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="title_form_login">Gender:</td>
                            <td>
                                <select class="form_input_login" name="gender" required>
                                    <option value="0"> Male </option>
                                    <option value="1"> Female </option>
                                    <option value="2"> Other </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="title_form_login">Mobile:</td>
                            <td>
                                <input class="form_input_login" type="number" name="mobile" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="title_form_login">Address:</td>
                            <td>
                                <input class="form_input_login" type="text" name="address" required>
                            </td>
                        </tr>
                    </table>
                    <hr/>
                    <table>
                        <tr>
                            <td class="title_form_login">Email:</td>
                            <td>
                                <input class="form_input_login" type="email" name="email" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="title_form_login">Password:</td>
                            <td>
                                <input class="form_input_login" type="password" name="password" required>
                            </td>
                        </tr>
                    </table>
                    <div class="text-center">
                        <button class="submit_button_form" type="submit">Register</button>
                    </div>
                }
                <hr/>
                <p class="other_change_password">Already have an account. <a class="link_change_password" data-bs-toggle="modal" href="#login" role="button">Login here</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Profile -->
@if (Session["userId"] != null)
{
    <div class="modal fade" id="profile" tabindex="-1" aria-labelledby="login" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" id="profile-edit-popup">
            <div class="modal-content login_form">
                <div class="text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="form_login">
                    <p class="login_title text-center">Profile</p>
                    <div class="edit-profile">
                        @using (Html.BeginForm("ChangeInformation", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="change-image-profile">
                                <div class="change-image-profile_child">
                                    <label for="image-profile">
                                        <img id="avatar-preview" class="image-avatar" src="@Model.Account.Image" alt="">
                                        <div class="contain-button-edit">
                                            <img class="image-avatar-pen-edit" src="https://img.icons8.com/material-rounded/48/undefined/edit--v1.png" alt=""/>
                                        </div>
                                    </label>
                                </div>
                                <input type="file" id="image-profile" accept="image/*" name="image">
                            </div>
                            <table>
                                <tr>
                                    <td class="title_form_login">Email:</td>
                                    <td>
                                        <p class="email-profile">@Model.Account.Email</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title_form_login">Full name:</td>
                                    <td>
                                        <input class="form_input_login" type="text" name="name" value="@Model.Account.FullName" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title_form_login">Gender:</td>
                                    <td>
                                        <select class="form_input_login" name="gender" required>
                                            <option @(Model.Account.Gender == 0 ? "selected" : "") value="0"> Male </option>
                                            <option @(Model.Account.Gender == 1 ? "selected" : "") value="1"> Female </option>
                                            <option @(Model.Account.Gender == 2 ? "selected" : "") value="2"> Other </option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title_form_login">Mobile:</td>
                                    <td>
                                        <input class="form_input_login" type="number" value="@Model.Account.Phone" name="mobile" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title_form_login">Address:</td>
                                    <td>
                                        <input class="form_input_login" type="text" value="@Model.Account.Address" name="address" required>
                                    </td>
                                </tr>
                            </table>
                            <div class="text-center">
                                <button class="submit_button_form" type="submit">Update</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- Change password -->
<div class="modal fade" id="change" tabindex="-1" aria-labelledby="login" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content login_form">
            <div class="text-end">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="form_login">
                <p class="login_title text-center">Change Password</p>
                @using (Html.BeginForm("ChangePassword", "Auth", FormMethod.Post))
                {
                    <table>
                        <tr>
                            <td class="title_form_login">Old password:</td>
                            <td>
                                <input class="form_input_login" type="password" name="oldPass" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="title_form_login">New password:</td>
                            <td>
                                <input class="form_input_login" type="password" name="newPass" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="title_form_login"> Confirm Password:</td>
                            <td>
                                <input class="form_input_login" type="password" name="rePass" required>
                            </td>
                        </tr>
                    </table>
                    <div class="text-center">
                        <button class="submit_button_form" type="submit">Change</button>
                    </div>
                }
                <hr/>
                <p class="other_change_password">Don't have an account, <a class="link_change_password">register here</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Alert -->
@if (Model.IsFailLogin)
{
    <div class="alert alert-danger alert-dismissible fade show alert_fail" role="alert">
        Please check your <strong>username</strong> and <strong>password</strong> and try again.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (Model.IsFailChange)
{
    <div class="alert alert-danger alert-dismissible fade show alert_fail" role="alert">
        Please check your <strong>old password</strong> and <strong>confirm password</strong> and try again.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (Model.IsSuccessChange)
{
    <div class="alert alert-success alert-dismissible fade show alert_fail" role="alert">
        Change success
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (Model.IsFailRegister)
{
    <div class="alert alert-danger alert-dismissible fade show alert_fail" role="alert">
        <strong>Email</strong> already in use.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (Model.IsRegisterSuccess)
{
    <div class="alert alert-success alert-dismissible fade show alert_fail" role="alert">
        <strong>Register</strong> account successfully, check your email to active!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (Model.IsNotActiveAccount)
{
    <div class="alert alert-danger alert-dismissible fade show alert_fail" role="alert">
        You need <strong>verify</strong> account first!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (Model.ActiveFail)
{
    <div class="alert alert-danger alert-dismissible fade show alert_fail" role="alert">
        <strong>Active</strong> your account fail, please contact to admin!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (Model.ActiveSuccess)
{
    <div class="alert alert-success alert-dismissible fade show alert_fail" role="alert">
        <strong>Active</strong> your account successfully!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (Model.IsInvalidPasswordRegister)
{
    <div class="alert alert-danger alert-dismissible fade show alert_fail" role="alert">
        Password must be at least 8 characters long and contain at least one number and one uppercase and lowercase letter.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (Model.IsInvalidPhoneRegister)
{
    <div class="alert alert-danger alert-dismissible fade show alert_fail" role="alert">
        Phone must be only number and length is 10 characters.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@RenderBody()

<div class="footer">
    <div class="container text-center">
        <div class="footer-content">
            <p>2022 &#169; All rights reserved by team 1</p>
            <p>FPT University, Thach Hoa, Thach That, Ha Noi</p>
        </div>
    </div>
</div>
</body>
<script src="~/Scripts/bootstrap.bundle.js" crossorigin="anonymous"></script>
<script>
const imgInp = document.getElementById('image-profile');
const blah = document.getElementById('avatar-preview');
imgInp.onchange = evt => {
  const [file] = imgInp.files
  if (file) {
    blah.src = URL.createObjectURL(file)
  }
}
</script>
</html>
