﻿* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

body {
    background-color: #7C4135
}

#order-heading {
    background-color: #edf4f7;
    position: relative;
    border-radius: 25px;
    max-width: 800px;
    padding-top: 20px;
    margin: 30px auto 0px
}
    #order-heading .text-uppercase {
        font-size: 0.9rem;
        color: #777;
        font-weight: 600
    }

    #order-heading .h4 {
        font-weight: 600
    }

        #order-heading .h4 + div p {
            font-size: 0.8rem;
            color: #777
        }

.close {
    padding: 10px 15px;
    background-color: #777;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: -20px
}

.wrapper {
    padding: 0px 50px 50px;
    max-width: 800px;
    margin: 0px auto 40px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px
}

.table th {
    border-top: none
}

.table thead tr.text-uppercase th {
    font-size: 0.8rem;
    padding-left: 0px;
    padding-right: 0px
}

.table tbody tr th,
.table tbody tr td {
    font-size: 0.9rem;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px
}

.list div b {
    font-size: 0.8rem
}

.list .order-item {
    font-weight: 600;
    color: #6db3ec
}

.list:hover {
    background-color: #f4f4f4;
    cursor: pointer;
    border-radius: 5px
}

label {
    margin-bottom: 0;
    padding: 0;
    font-weight: 900
}

button.btn {
    font-size: 0.9rem;
    background-color: #66cdaa
}

    button.btn:hover {
        background-color: #5cb99a
    }

.price {
    color: #5cb99a;
    font-weight: 700
}

p.text-justify {
    font-size: 0.9rem;
    margin: 0
}

.row {
    margin: 0px
}

.order-details-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.subscriptions {
    border: 1px solid #ddd;
    border-left: 5px solid #ffa500;
    padding: 10px
}

.order-details-saleborder {
    border-radius: 40px;
}

.long-title > b {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 13ch;
}

.col .order-details-sale-widthsm {
    width: 10%;
}

.order-details-sale__total {
    margin-left: 15px;
    line-height: 0;
}

.button-order-details {
    background: linear-gradient(310deg, #cb0c9f 0%, #cb0c9f 100%);
    margin-left: 20px;
    padding: 0 10px;
    border: none;
    border-radius: 20px;
    color: #FFF;
    text-transform: uppercase;
}

    .button-order-details:hover {
        background: #777;
        color: #FFF;
    }

.col .order-details-sale-widthsm {
    width: 25%;
}

.subscriptions div {
    font-size: 0.9rem
}

.sale-order-pagination {
    display: inline-block;
}

    .sale-order-pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
    }

        .sale-order-pagination a.active {
            background-color: #0c99ff;
            color: white;
            border: 1px solid #0c99ff;
        }


@media(max-width: 425px) {
    .wrapper {
        padding: 20px
    }

    body {
        font-size: 0.85rem
    }

    .subscriptions div {
        padding-left: 5px
    }

    img + label {
        font-size: 0.75rem
    }
}
