﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
@model Project.Models.ResetPasswordViewModel

<body class="g-sidenav-show  bg-gray-200">
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center g-0 reset-margin">
            <div class="col-lg-5 col-md-8 py-8 py-xl-0">
                <!-- Card -->
                <div class="card shadow">
                    <!-- Card body -->
                    <div class="card-body p-lg-3">
                        <div class="mb-1">                            
                            <h1 class="mb-4 mt-4 fw-bold reset-ttl text-center">Forgot Password</h1>
                            <p class="mt-2 mb-25 text-center reset-text">We'll send you an email with a link where you can reset your password. Please check your spam folder if you don't see our email</p>
                        </div>
                        <!-- Form -->
                        <form method="post" action="../ResetPassword/SendMail">
                            <!-- Email -->
                            <div class="mb-2 d-flex align-items-end justify-content-md-evenly">
                                <label for="email" class="form-label form-label--size ">Email</label>
                                <input type="email" id="email" class="w-75 form-control" name="email" placeholder="Enter Your Email "
                                       required />
                            </div>
                            <div class="mb-1 d-flex reset-margin--alert">
                                @if (Model.messageError != null)
                                {
                                    <div class="alert alert-warning w-50 p-0" role="alert">
                                        @Model.messageError
                                    </div>
                                }
                                @if (Model.messageSuccess != null)
                                {
                                    <div class="alert alert-success w-50 p-0" role="alert">
                                        @Model.messageSuccess
                                    </div>
                                }
                            </div>
                                <!-- Button -->
                                <div class="mb-2 text-center">
                                    <button type="submit" class="btn btn-padding">
                                        Send
                                    </button>
                                </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>