@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_CommonLayout.cshtml";
}

<div class="container mt-5">
    <div class="completion">
        <div>
            <img
                src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/100/undefined/external-checkout-web-store-flaticons-lineal-color-flat-icons.png"/>
            <div class="mt-2 mb-2">
                <strong>Order successfully</strong>
            </div>
        </div>
    </div>
</div>