@model Project.Models.cart.CartContactViewModel

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_CommonLayout.cshtml";
}

<div class="container my-order mt-3">
    <div class="row">
        <div class="col-8">
            <form id="information-contact" action="/Cart/SubmitCartContact" method="post">
                <div class="information-contact-edit">
                    <div class="text-center">
                        <strong>Information Order</strong>
                    </div>
                    <hr>
                    <div class="row mb-2">
                        <div class="col-2 mt-1 information-title-contact">
                            <strong>Full name <span style="color: red">*</span>:</strong>
                        </div>
                        <div class="col-6">
                            <input class="input-information-contact" name="name" type="text" value="@(Model.Account.FullName)" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-2 mt-1 information-title-contact">
                            <strong>Email <span style="color: red">*</span>:</strong>
                        </div>
                        <div class="col-6">
                            <input class="input-information-contact" name="email" type="email" value="@(Model.Account.Email)" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-2 mt-1 information-title-contact">
                            <strong>Phone <span style="color: red">*</span>:</strong>
                        </div>
                        <div class="col-6">
                            <input class="input-information-contact" name="phone" type="text" value="@(Model.Account.Phone)" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-2 mt-1 information-title-contact">
                            <strong>Address <span style="color: red">*</span>:</strong>
                        </div>
                        <div class="col-6">
                            <input class="input-information-contact" name="address" type="text" value="@(Model.Account.Address)" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-2 mt-1 information-title-contact">
                            <strong>Note <span style="color: red">*</span>:</strong>
                        </div>
                        <div class="col-6">
                            <textarea rows="6" class="input-information-contact" name="note" type="text" value="" required></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4">
            <div class="my-order-price">
                <div class="my-order-price-title text-center">
                    <p>
                        <strong>Order Detail</strong>
                    </p>
                </div>
                <hr>
                <div class="my-order-price-content">
                    <div class="my-order-price-content-item">
                        <p>
                            <strong>Sub Total</strong>
                        </p>
                        <p>$@Model.SubTotal</p>
                    </div>
                    <div class="my-order-price-content-item">
                        <p>
                            <strong>Fee</strong>
                        </p>
                        <p>$2</p>
                    </div>
                    <hr>
                    <div class="my-order-price-content-item">
                        <p>
                            <strong>Total</strong>
                        </p>
                        <p>$@(Model.SubTotal + 2)</p>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <button type="submit" form="information-contact" class="button-complete-my-order">Submit order</button>
            </div>
        </div>
    </div>
</div>