@model Project.Models.cart.CartViewModel

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_CommonLayout.cshtml";
}

<div class="container my-order mt-3">
    <div class="row">
        <div class="col-8">
            <div class="list-product-my-order">
                <!--          <p class="text-center"><i>Your order is empty!</i></p>-->
                @foreach (var item in Model.Cart)
                {
                    <div class="item-my-order">
                        <img class="image-product-my-order"
                             src="@(item.Product.ImageProducts.ToList()[0]?.Image)"
                             alt="image-product">
                        <div class="product-detail-my-order">
                            <div class="product-detail-my-order-title">
                                <div>
                                    <p class="item-my-order-title">
                                        @item.Product.Title
                                    </p>
                                    <p class="item-my-order-category">
                                        @foreach (var itemCategory in item.Product.ProductCategories)
                                        {
                                            @itemCategory.Category.Title<span>, </span>
                                        }
                                    </p>
                                </div>
                                <form method="post" action="/Cart/Remove?id=@item.Id">
                                    <button>
                                        <img src="https://img.icons8.com/fluency-systems-filled/24/FF5B5B/filled-trash.png" alt=""/>
                                    </button>
                                </form>
                            </div>
                            <div class="action-my-order-control">
                                <div>
                                    $<span class="price-product" id="price-product-@item.Id">@(item.Product.SalePrice)</span> x <span id="quantity-product-@item.Id">@(item.Quantity)</span> = <strong id="total-product-@item.Id-1">$@(item.Product.SalePrice * item.Quantity)</strong>
                                </div>
                                <div class="action-my-order">
                                    <button onclick="decreaseQuantity(@item.Id)" type="button">
                                        <img src="https://img.icons8.com/ios-glyphs/30/undefined/minus.png" alt=""/>
                                    </button>
                                    <p class="quantity-product" id="total-product-@item.Id-2">@item.Quantity</p>
                                    <button onclick="increaseQuantity(@item.Id)" type="button">
                                        <img src="https://img.icons8.com/ios-glyphs/30/undefined/plus.png" alt=""/>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-4">
            <div class="my-order-price">
                <div class="my-order-price-title text-center">
                    <p>
                        <strong>Order Detail</strong>
                    </p>
                </div>
                <hr>
                <div class="my-order-price-content">
                    <div class="my-order-price-content-item">
                        <p>
                            <strong>Sub Total</strong>
                        </p>
                        <p id="sub-total">$@Model.Total</p>
                    </div>
                    <div class="my-order-price-content-item">
                        <p>
                            <strong>Fee</strong>
                        </p>
                        <p>$2</p>
                    </div>
                    <hr>
                    <div class="my-order-price-content-item">
                        <p>
                            <strong>Total</strong>
                        </p>
                        <p id="total">$@(Model.Total + 2)</p>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <button type="submit" form="changeToContact" class="button-add-contact-my-order" @(Model.Cart.Count == 0 ? "disabled" : "")>Add contact</button>
                <form action="/cart/contact" id="changeToContact"></form>
            </div>
        </div>
    </div>
</div>

<script>
const increaseQuantity = (id) => {  
    const element = document.getElementById('total-product-' + id + '-2')
    let quantity = Number.parseFloat(element.innerText);
    element.innerText = quantity + 1 + '';   
    
    document.getElementById(`quantity-product-${id}`).innerText = quantity + 1 + '';
    document.getElementById(`total-product-${id}-1`).innerText = '$' + (quantity + 1) * Number.parseFloat(document.getElementById(`price-product-${id}`).innerText) + '';
    
    fetch('Cart/Increase?id=' + id, {
        method: 'POST'
    }).then()
    
    render()
}

const decreaseQuantity = (id) => {   
    const element = document.getElementById('total-product-' + id + '-2')
    let quantity = Number.parseFloat(element.innerText);
    
    if (quantity <= 1) {
        return;
    }
    
    element.innerText = quantity - 1 + ''; 
    document.getElementById(`quantity-product-${id}`).innerText = quantity - 1 + '';
    document.getElementById(`total-product-${id}-1`).innerText = '$' + (quantity - 1) * Number.parseFloat(document.getElementById(`price-product-${id}`).innerText) + '';
    
    fetch('Cart/Decrease?id=' + id, {
        method: 'POST'
    }).then()    
    
    render()
}

const render = () => {
    const dataQuantity = document.getElementsByClassName('quantity-product')
    const dataPrice = document.getElementsByClassName('quantity-product')
    
    if (dataQuantity.length === 0) {
        return;
    }
    
    const quantityArray = [...document.getElementsByClassName('quantity-product')].map((e) => {        
        return Number.parseFloat(e.innerText)
    })
    
    const priceArray = [...document.getElementsByClassName('price-product')].map((e) => {
        return Number.parseFloat(e.innerText)
    })
    
    const totalArray = quantityArray.map((e, i) => {
        return e * priceArray[i]
    })
    
    const subTotal = totalArray.reduce((a, b) => {
        return a + b
    }, 0)
    
    const total = subTotal + 2
    
    document.getElementById('sub-total').innerText = '$' + subTotal
    document.getElementById('total').innerText = '$' + total
}

render()
</script>