@model Project.Models.cart.MyOrderViewModel

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_CommonLayout.cshtml";
}
<div class="container mt-4">
    @if (Model.IsEmpty)
    {
        <div class="row text-center">
            <div class="col-12 fs-6">
                <i>Your order is currently empty</i>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-4 order-list">
                @foreach (var order in Model.Orders)
                {
                    long sum = 0;
                    Array.ForEach(order.OrderDetails.ToArray(), i => sum += i.SalePrice * i.Quantity);

                    <a href="/my-order?id=@(order.Id)" class="i-o @(order.Id == Model.SelectedOrderId ? "i-o-selected" : "")">
                        <img src="@order.OrderDetails.ToList()[0].Product.ImageProducts.ToList()[0].Image" alt="">
                        <div class="i-o-item-content">
                            <p>
                                <strong>@order.OrderDetails.ToList()[0].Product.Title</strong>
                            </p>
                            <div>
                                <p></p>
                                <p class="i-o-item-content-text-small">
                                    <strong>Total cost:</strong> <span style="color: red">$@(sum + 2)</span>
                                </p>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="col-8 order-list-detail">
                <div class="text-center mb-3">
                    <strong>My order</strong>
                </div>
                <div class="list-product-my-order-1">
                    @foreach (var order in Model.OrderDetails)
                    {
                        string listCategory = "";
                        Array.ForEach(order.Product.ProductCategories.ToArray(), i => listCategory += i.Category.Title + ", ");
                        <div class="list-product-my-order-item">
                            <img src="@order.Product.ImageProducts.ToList()[0].Image" alt="">
                            <div>
                                <div>
                                    <div>
                                        <strong>@order.Product.Title</strong>
                                    </div>
                                    <div class="list-product-my-order-item-category">
                                        <i>
                                            <strong>Category: </strong>@listCategory
                                        </i>
                                    </div>
                                </div>
                                <div class="list-product-my-order-item-info">
                                    <div><strong>@(order.Quantity) Items</strong> - <span style="color: red">$@(order.Quantity * order.SalePrice)</span></div>
                                    @if (order.FeedbackId == null)
                                    {
                                        <div>
                                            <a class="button-my-order-item-feedback" href="/feedback?orderId=@(order.OrderId)&productId=@(order.ProductId)">Feedback</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="rate-star">
                                            @for (int i = 0; i < 5; i++)
                                            {
                                                if (i < order.Feedback.RateStar)
                                                {
                                                    <img src="https://img.icons8.com/ios-glyphs/60/ffbb00/star--v1.png"/>
                                                }
                                                else
                                                {
                                                    <img src="https://img.icons8.com/ios-glyphs/60/f1f1f1/star--v1.png"/>
                                                }
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <div class="row mb-2">
                            <div class="col-3">
                                <strong>Full name:</strong>
                            </div>
                            <div class="col-9">@(Model.SelectOrder.FullName)</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-3">
                                <strong>Email:</strong>
                            </div>
                            <div class="col-9">
                                <u>@(Model.SelectOrder.Email)</u>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-3">
                                <strong>Phone:</strong>
                            </div>
                            <div class="col-9">@(Model.SelectOrder.Phone)</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-3">
                                <strong>Address:</strong>
                            </div>
                            <div class="col-9">@(Model.SelectOrder.Address)</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-3">
                                <strong>Note:</strong>
                            </div>
                            <div class="col-9">@(Model.SelectOrder.Note)</div>
                        </div>
                    </div>
                    <div class="col-6 order-detail-cost">
                        <div class="myor-my-order-price-title text-center">
                            <p>
                                <strong>Order Detail</strong>
                            </p>
                        </div>
                        <hr>
                        <div class="my-order-price-content">
                            <div class="myor-my-order-price-content-item">
                                <p>
                                    <strong>Sub Total</strong>
                                </p>
                                @{
                                    long subSum = 0;
                                    Array.ForEach(Model.SelectOrder.OrderDetails.ToArray(), i => subSum += i.SalePrice * i.Quantity);
                                }
                                <p>$@(subSum)</p>
                            </div>
                            <div class="myor-my-order-price-content-item">
                                <p>
                                    <strong>Fee</strong>
                                </p>
                                <p>$2</p>
                            </div>
                            <hr>
                            <div class="myor-my-order-price-content-item">
                                <p>
                                    <strong>Total</strong>
                                </p>
                                <p style="color: red">
                                    <strong>$@(subSum + 2)</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>