﻿.header-feedback-mkt {
    padding-left: 35px;
}

.header-detail-mkt {
    display: flex;
}

    .header-detail-mkt a {
        padding-top: 10px;
    }

.feedback_image img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    padding: 10px;
}

.feedback-item-detail-name {
    display: flex;
}

.name-title {
    padding-left: 25px;
}

.name-fill-dtb {
    padding-left: 40px;
}

.rate-star-feedback-mkt {
    padding-left: 40px;
}

.checked {
    color: orange;
}

.feedback-mkt-more-options {
    display: flex;
    flex-direction: row;
}

.image-feedback-mkt-more img {
    height: 140px;
    border-radius: 10px;
    padding: 15px;
    object-fit: cover;
}
