﻿﻿* {
    margin: 0;
    padding: 0;
}

.home-body {
    margin: 0;
}

.introduce {
    display: flex;
    height: 150px;
    padding-top: 20px;
}

.blog-title {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 14px;
}

.home-content {
    display: flex;
    margin-top: 300px;
}

.slider-image {
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.slider {
    padding-right: 10px;
}

.slider-title a{
    text-decoration: none;
    color: white;
}

.blog-homepage {
    display: flex;
    height: 400px;
}

.blog-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* number of lines to show */
    line-clamp: 5;
    -webkit-box-orient: vertical;
    padding-left: 10px;
}
.blog-description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.blog-more {
    color: blue;
}

.blog-image {
    width: 270px;
    height: 300px;
    border-radius: 10px;
    padding-right: 5px;
    object-fit: cover;
}

.blog-homepage{
    display: flex;
}

.home-category-items a {
    color: black;
    text-decoration: none;
}

.home-category {
    <--background-color: #F1F1F1;-->
    border-radius: 10px;
    height: fit-content;
}

.home-category-title {
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.home-category ul {
    list-style: none;
    text-decoration: none;
}

.home-category li {
    padding: 10px;
    text-decoration: none;
}

.home-product {
    display: flex;
    flex-wrap: wrap;
}

.home-product-detail {
    width: 20%;
    border-radius: 10px;

}

.home-product-detail img{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.home-product-title {
    margin: 5px;
    font-size: 18px;
    font-weight: 500;
}

.home-product-price {
    margin: 5px;
    font-size: 16px;
    font-weight: 400;
}
 
.product-link{
    text-decoration: none;
    color: black;
}   
