.my-order {
    font-family : 'Poppins', sans-serif !important;
}

.list-feedback {
    display        : flex;
    flex-direction : column;
    row-gap        : 10px;

    height         : 600px;
    overflow-y     : auto;
    padding-top    : 10px;

    margin-bottom  : 50px;
}

.feedback-item {
    padding         : 10px 10px;
    box-shadow      : 0 0 10px 0 rgba(0, 0, 0, 0.11);
    border-radius   : 10px;

    display         : flex;
    flex-direction  : row;
    column-gap      : 12px;

    cursor          : pointer;

    transition      : box-shadow 0.2s ease-out;

    text-decoration : none;
    color           : black;
}

.feedback-item-selected {
    box-shadow : 0 0 10px 0 rgba(0, 0, 0, 0.40);
}

.feedback-item:hover {
    box-shadow : 0 0 10px 0 rgba(0, 0, 0, 0.40);
}

.feedback-item > img {
    min-width     : 60px;
    width         : 60px;
    min-height    : 60px;
    height        : 60px;
    object-fit    : cover;
    border-radius : 5px;
}

.feedback-item-content {
    width           : 100%;

    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
}

.feedback-item-content p {
    margin : 0;
}

.feedback-item-content-dot {
    width          : 12px;
    height         : 12px;
    border-radius  : 10em;
    animation      : infinite 1s;
    animation-name : dot-animation;
}

@keyframes dot-animation {
    0% {
        background-color : #0c99ff;
    }
    50% {
        background-color : #ffffff;
    }
    100% {
        background-color : #0c99ff;
    }
}

.feedback-item-content-time {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : center;
}

.feedback-item-content-time > p {
    color       : #c2c2c2;
    font-weight : 300;
    font-size   : 12px;
}

.feedback-detail {
    padding       : 16px 16px;
    box-shadow    : 0 0 10px 0 rgba(0, 0, 0, 0.11);
    border-radius : 10px;

    margin-top    : 10px;
    height        : fit-content;
}

.feedback-detail-information {
    display        : flex;
    flex-direction : row;
    column-gap     : 20px;
}

.feedback-detail-information > img {
    width         : 120px;
    height        : 120px;
    object-fit    : cover;
    border-radius : 5px;
}

.feedback-detail-information > div {
    width           : 100%;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
}

.fb-d-category {
    font-weight : 300;
    color       : lightgray;
    font-size   : 13px;
}

.fb-d-time {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : center;
}

.input-rate {
    margin-bottom : 15px;
}

.rate-star {
    display         : flex;
    flex-direction  : row;
    justify-content : flex-start;
    align-items     : center;
}

.rate-star img {
    width        : 26px;
    height       : 26px;
    object-fit   : cover;
    margin-right : 5px;

    cursor       : pointer;
}

.rate-star button {
    outline          : none;
    border           : none;
    background-color : transparent;
    padding          : 0;
}

.rate-star > input {
    display : none;
}

.input-note textarea {
    outline          : none;
    border-radius    : 14px;
    border           : 2px solid lightgray;
    padding          : 6px 14px;
    font-size        : 14px;
    background-color : #fafafa;
    resize           : none;
}

.feedback-button-submit {
    padding          : 8px 18px;
    background-color : #0c99ff;

    outline          : none;
    border           : 2px solid #0c99ff;

    border-radius    : 10em;
    transition       : background-color ease-in-out 0.3s;

    color            : white;
}

.feedback-button-submit:hover {
    background-color : #1389de;
}

.image-feedback-o {
    min-width     : 100px;
    width         : 100px;
    min-height    : 100px;
    height        : 100px;
    object-fit    : cover;
    
    border: 2px solid lightgray;
    border-radius : 5px;
}