﻿
@{
    ViewBag.Title = "Detail";
    Layout = "../Shared/_CommonLayout.cshtml";
}

@model Project.Models.ProductViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="~/Content/product/product.css">
<div class="container">
    <div class="row" style="padding:50px 50px 0px 50px">
        <div class=" col-6">

            <img style="height:auto;width:auto" src="@Model.MainProduct.ImageProducts.ElementAt(0).Image" class="d-block" alt="...">

        </div>

        <div class="col-6">
            Tên Sản phẩm:<p>@Model.MainProduct.Title</p>
            Giá gốc:<p><s>@(Model.MainProduct.OriginalPrice+ "VND")</s></p>
            Giá khuyến mại:<p>@(Model.MainProduct.SalePrice+ "VND")</p>
            Thông tin sản phẩm:<p>@Model.MainProduct.Detail</p>
            Chọn số lượng sản phẩm<input style="width:150px" type="number" class="form-control" />
            <button class="danger">Add to cart</button>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center">
    @for (int i = 0; i < 5; i++)
    {
        <div class="column">
            <div>
                <img src="" alt="Snow" style="width:100%">
            </div>
            <div>
                abc
            </div>
            <div>
                <s>abc</s>

            </div>
        </div>
    }
    </div>




