﻿
@{
    ViewBag.Title = "Product Detail";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
@model Project.Controllers.CommonViewLayout



<link href="~/Content/product/product1.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
<div class="container mt-5 mb-5" >
    <div class="card1" >
        <div class="row g-0">
            <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image" style="height:auto;">
                        <img class="img1" src="@Model.Data.ProductCategory.FirstOrDefault().Product.ImageProducts.ToList()[0].Image"
                             id="main_product_image"
                             style="width:550px; height:500px; padding:10px;"
                             />
                    </div>
                    <div class="thumbnail_images" >
                        <ul id="thumbnail">
                            @foreach (var img in Model.Data.ImageProducts)
                            {

                                <li style="padding:2px;">
                                    <img onclick="changeImage(this)"
                                         src="@img.Image"
                                         width="70"
                                        
                                       />
                                </li>
                            }
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                @using (Html.BeginForm("AddToCart", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                   
                    <div class="p-3 right-side">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3> @Model.Data.ProductCategory.FirstOrDefault().Product.Title</h3>
                            <span class="heart"><i class="bx bx-heart"></i></span>
                        </div>
                        <div class="mt-2 pr-3 content">
                            <p>
                                @Model.Data.ProductCategory.FirstOrDefault().Product.Detail
                            </p>
                        </div>
                       
                            <span class="amount-old">$@Model.Data.ProductCategory.FirstOrDefault().Product.SalePrice</span>
                            <span class="pro-price">$@Model.Data.ProductCategory.FirstOrDefault().Product.OriginalPrice</span>
                       
                        <div class="ratings d-flex flex-row align-items-center">
                            <div class="d-flex flex-row">
                                <i class="bx bxs-star"></i> <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i> <i class="bx bxs-star"></i>
                                <i class="bx bx-star"></i>
                            </div>
                            <span>441 reviews</span>
                        </div>
                        <div class="mt-5">
                            <div class="mt-5">
                              
                                <div class="form-group">
                                    <h4>Quantity</h4>
                                    <input type="text" value="1" name="quantity" class="form-control" style="width:120px;" onfocus="focused(this)" onfocusout="defocused(this)">
                                </div>
                            </div>
                        </div>
                        <div class=" d-flex flex-row mt-5 gap-3">
                            <a class="btn btn-outline-dark" href="../ProductList">Back</a>
                            <button type="submit" class="btn btn-dark">Add to Cart</button>
                        </div>
                       
                    </div>
                }
                </div>
        </div>
    </div>
</div>
<script>
    function changeImage(element) {

        var main_prodcut_image = document.getElementById('main_product_image');
        main_prodcut_image.src = element.src;
    }
</script>



