﻿

@{
    ViewBag.Title = "ProductList";
    Layout = "../Shared/_CommonLayout.cshtml";

}

@model Project.Controllers.CommonViewLayout
<link href="~/Content/product/product.css" rel="stylesheet" type="text/css" />

<section class="section" style="padding:50px;" >
    <div class="container">

        <div class="row">
            <nav class="col-12 col-sm-3" style="width:200px;">
                <div class="card bg-light mb-3">
                    <div class="card-header  text-white text-uppercase" style="background-color: #0c99ff;"><i class="fa fa-list"></i>Categories</div>
                    <ul class="list-group category_block">
                        @foreach (var cate in @Model.Data.Categories)
                        {
                            if (ViewBag.cate == cate.Id)
                            {
                                <li class="list-group-item active" style="background-color:aliceblue;">
                                    <a  style="border-radius: 0.5rem; color: #0c99ff;" href="/Product/ProductList/@cate.Id">@cate.Title </a>

                                </li>
                            }
                            else
                            {
                                <li class="list-group-item">
                                    <a style="border-radius:0.5rem;" href="/Product/ProductList/@cate.Id">@cate.Title</a>

                                </li>
}

                        }
                    </ul>
                </div>

                <div class="card bg-light mb-3">
                    <div class="card-header bg-danger text-white text-uppercase">Hot product</div>

                   
                            <!-- Sale badge-->
                           
                            <!-- Product image-->
                            <a href="../../Product/ProductDetail/@Model.Data.Products.FirstOrDefault().Id">
                                <img src="@Model.Data.Products.FirstOrDefault().ImageProducts.ToList()[0].Image" >
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@Html.ActionLink(@Model.Data.Products.FirstOrDefault().Title, "ProductDetail", new { id = @Model.Data.Products.FirstOrDefault().Id })</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$@Model.Data.Products.FirstOrDefault().OriginalPrice</span>
                                    $@Model.Data.Products.FirstOrDefault().SalePrice
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <button class="btn btn-outline-primary mt-auto" data-bs-toggle="modal" href="#exampleModalToggle" onclick="addtocart(@Model.Data.Products.FirstOrDefault().Id)" type="button">Add to cart</button>

                                </div>
                            </div>
                     
                   
                </div>
            </nav>
            <div class="col">
                <div class="row">
                    <div class="row g-1">
                    </div>
                   
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            @if (ViewBag.page != null && ViewBag.page > 1)
                            {
                                <li class="page-item" >
                                    <a class="page-link" style="border-radius:0.5rem;" href="/Product/ProductList/@ViewBag.cate?page=@(ViewBag.page-1)&search=@ViewBag.searchz"><<</a>
                                </li>

                            }
                            else 
                            {
                                <li class="page-item disabled">
                                    <a href="#" class="page-link" style="border-radius:0.5rem;" aria-disabled="true"><<</a>
                                </li>

                            }

                            @for (double i = 1; i < (((double)ViewBag.paging) / 12) + 1; i++)
                            {

                                if (i == ViewBag.page)
                                {
                                    <li class="page-item active">
                                        <a class="page-link" style="border-radius:0.5rem;" href="/Product/ProductList/@ViewBag.cate?page=@(i)&search=@ViewBag.searchz">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" style="border-radius:0.5rem;" href="/Product/ProductList/@ViewBag.cate?page=@(i)&search=@ViewBag.searchz">@i</a>

                                    </li>

                                }
                            }
                            @if (ViewBag.page != null && ViewBag.page * 12 < ViewBag.paging)
                            {
                                <li class="page-item">
                                    <a class="page-link" style="border-radius:0.5rem;" href="/Product/ProductList/@ViewBag.cate?page=@(ViewBag.page + 1)&search=@ViewBag.searchz">>></a>
                                </li>

                            }
                            else
                            { 
                                <li class="page-item disabled">
                                    <a class="page-link" style="border-radius:0.5rem;" href="#">>></a>
                                </li>
                            }
                        </ul>
                    </nav>
                    <!-- Single Product -->
                    @foreach (var pr in @Model.Data.ProductCategory)
                    {
                        <div class="col-md-3" style="padding-bottom:20px;">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                                <!-- Product image-->
                                <a href="../../Product/ProductDetail/@pr.ProductId">
                                    <img src="@pr.Product.ImageProducts.ToList()[0].Image" style=" height: auto;">
                                </a>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">@Html.ActionLink(@pr.Product.Title, "ProductDetail", new { id = @pr.ProductId })</h5>
                                        <!-- Product price-->
                                        <span class="text-muted text-decoration-line-through">$@pr.Product.OriginalPrice</span>
                                        $@pr.Product.SalePrice
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        @if (Session["userId"] != null)
                                        {
                                            <button class="btn btn-outline-primary mt-auto" data-bs-toggle="modal" href="#exampleModalToggle" onclick="addtocart(@pr.ProductId)" type="button">Add to cart</button>

                                        }
                                        else
                                        {
                                            <button class="btn btn-outline-primary mt-auto" disabled>Add to cart</button>

                                        }

                                    </div>
                                </div>
                            </div>

                        </div>

                    }

                    <!-- Single Product -->
                </div>
              </div>
        </div>
    </div>

</section>
<div class="modal" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content card" style="width:auto;margin:auto;">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalToggleLabel">Notification</h5>
                <button class="btn-outline-dark" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body text-center">

                <img src="https://pageengage.homeasap.com/wp-content/uploads/2017/12/PE-Success-Icon.png" style="width:70px;height:70px;" />
                <br />
                <h4 class="text-center">Successfully</h4>
            </div>
        </div>
    </div>
</div>
<script>
    const addtocart = (id) => {
        fetch('/Product/AddToCart1/'+id, {
            method: 'POST'
        }).then(
            console.log("add to cart " + id),
            
        )
    }
    
</script>