* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

.blog {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
}

.blog-container {
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-list {
    width: 32%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.left-content {
    width: 45%;
}

.right-content {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #F4F4F4;
    font-size: 16px;
    line-height: 1;
}

.right-content__desc {
    padding: 20px 10px 10px 10px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 7;
    height: 193px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.blog-moredesc {
    padding-right: 15px;
}

.blog-pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0;
}

    .blog-pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
    }

        .blog-pagination a.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .blog-pagination a:hover:not(.active) {
            background-color: #ddd;
        }

.img {
    width: 100%;
    height: 150px;
}

.left-content__ttl{
    font-size:18px;
}