﻿body {
    background-color: #ecedee;
}

.card {
    border: none;
    overflow: hidden;
}

.thumbnail_images ul {
    list-style: none;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

    .thumbnail_images ul li {
        margin: 5px;
        padding: 10px;
        border: 2px solid #eee;
        cursor: pointer;
        transition: all 0.5s;
    }

        .thumbnail_images ul li:hover {
            border: 2px solid #000;
        }

.main_image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.heart {
    height: 29px;
    width: 29px;
    background-color: #eaeaea;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content p {
    font-size: 12px;
}

.ratings span {
    font-size: 14px;
    margin-left: 12px;
}

.colors {
    margin-top: 5px;
}

    .colors ul {
        list-style: none;
        display: flex;
        padding-left: 0px;
    }

        .colors ul li {
            height: 20px;
            width: 20px;
            display: flex;
            border-radius: 50%;
            margin-right: 10px;
            cursor: pointer;
        }

            .colors ul li:nth-child(1) {
                background-color: #6c704d;
            }

            .colors ul li:nth-child(2) {
                background-color: #96918b;
            }

            .colors ul li:nth-child(3) {
                background-color: #68778e;
            }

            .colors ul li:nth-child(4) {
                background-color: #263f55;
            }

            .colors ul li:nth-child(5) {
                background-color: black;
            }

.right-side {
    position: relative;
}

.search-option {
    position: absolute;
    background-color: #000;
    overflow: hidden;
    align-items: center;
    color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 49% 51% 50% 50% / 68% 69% 31% 32%;
    left: 30%;
    bottom: -250px;
    transition: all 0.5s;
    cursor: pointer;
}

    .search-option .first-search {
        position: absolute;
        top: 20px;
        left: 90px;
        font-size: 20px;
        opacity: 1000;
    }

    .search-option .inputs {
        opacity: 0;
        transition: all 0.5s ease;
        transition-delay: 0.5s;
        position: relative;
    }

        .search-option .inputs input {
            position: absolute;
            top: 200px;
            left: 30px;
            padding-left: 20px;
            background-color: transparent;
            width: 300px;
            border: none;
            color: #fff;
            border-bottom: 1px solid #eee;
            transition: all 0.5s;
            z-index: 10;
        }

            .search-option .inputs input:focus {
                box-shadow: none;
                outline: none;
                z-index: 10;
            }

    .search-option:hover {
        border-radius: 0px;
        width: 100%;
        left: 0px;
    }

        .search-option:hover .inputs {
            opacity: 1;
        }

        .search-option:hover .first-search {
            left: 27px;
            top: 25px;
            font-size: 15px;
        }

        .search-option:hover .inputs input {
            top: 20px;
        }

    .search-option .share {
        position: absolute;
        right: 20px;
        top: 22px;
    }

.buttons .btn {
    height: 50px;
    width: 150px;
    border-radius: 0px !important;
}
.card1 {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 0;
    --bs-card-border-color: rgba(0, 0, 0, 0.125);
    --bs-card-border-radius: 1rem;
    --bs-card-box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
    --bs-card-inner-border-radius: 1rem;
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: #fff;
    --bs-card-cap-color:;
    --bs-card-height:;
    --bs-card-color:;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: var(--bs-card-border-radius);
}

.pro-price, .amount-old {
    font-size: 18px;
    padding: 0 10px;
}

.amount-old {
    text-decoration: line-through;
}

.product_meta a, .pro-price {
    color: #fc5959;
}

.pro-price, .amount-old {
    font-size: 18px;
    padding: 0 10px;
}
.btn1 {
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
