﻿
@{
    ViewBag.Title = "EditSlider";
    Layout = "~/Views/Shared/_MarketingLayout.cshtml";
}
@model Project.Models.SliderViewModel
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container-fluid py-4">
    <!-- BEGIN CUSTOM -->
    <div class="container">
        <div class="row flex-lg-nowrap">

            <div class="col">
                <div class="row">
                    <div class="col mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="e-profile">
                                    <div class="row">
                                        @*<div class="col-12 col-sm-auto mb-3">
                                            <div class="mx-auto" style="width: 250px;">
                                                <div class="d-flex justify-content-center align-items-center rounded" style="height: 250px; background-color: rgb(233, 236, 239);">
                                                    <img class="sliderImage" src="@Model.slider.Image" alt="khongco" />
                                                </div>
                                            </div>
                                        </div>*@
                                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                            <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">@Model.slider.Title</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
                                    </ul>
                                    <div class="tab-content pt-3">
                                        <div class="tab-pane active">
                                            <form class="form" method="post" action="../Slider/Edit" enctype="multipart/form-data" novalidate="" >
                                                <input type="hidden" name="id" value="@Model.slider.Id" />
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="col-12 col-sm-auto mb-3">
                                                            <div class="mx-auto">
                                                                <label for="image-profile">
                                                                    <img id="avatar-preview" class="sliderImage" src="@Model.slider.Image" alt="">
                                                                </label>
                                                            </div>
                                                            <input type="file" id="image-profile" accept="image/*" name="image">
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Title</label>
                                                                    <input class="form-control" type="text" name="title" value="@Model.slider.Title" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col mb-3">
                                                                <div class="form-group">
                                                                    <label>Backlink</label>
                                                                    <input class="form-control" type="text" name="backlink" value="@Model.slider.BackLink" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                                        <div class="mb-2"><b>Status</b></div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="custom-controls-stacked px-2">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="radio" name="status" value="enable" class="custom-control-input" id="notifications-blog" @Html.Raw(Model.slider.Status == true ? "checked" : "")>
                                                                        <label class="custom-control-label" for="notifications-blog">Active</label>
                                                                    </div>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="radio" name="status" value="disable" class="custom-control-input" id="notifications-news" @Html.Raw(Model.slider.Status == false ? "checked" : "")>
                                                                        <label class="custom-control-label" for="notifications-news">InActive</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col d-flex justify-content-end">
                                                        <button class="btn btn-primary" type="submit">Save Changes</button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- END CUSTOM -->
</div>