﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MarketingLayout.cshtml";
}
@model Project.Models.SliderViewModel
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th class="pb-3">
                                    <label>Filter:</label>
                                    <form method="get" action="../Slider">
                                        <select name="filter" class="mx-2">
                                            <option @Html.Raw(Model.filter == "" ? "selected" : "") value="">All</option>
                                            <option @Html.Raw(Model.filter == "active" ? "selected" : "") value="active">Active</option>
                                            <option @Html.Raw(Model.filter == "inactive" ? "selected" : "") value="inactive">InActive</option>
                                        </select>
                                        <input class="btnSubmit" value="Submit" type="submit">
                                    </form>
                                </th>
                            </tr>
                            <tr>
                                <th><span>Image</span></th>
                                <th><span>Title</span></th>
                                <th><span>Created</span></th>
                                <th class="text-center"><span>Status</span></th>
                                <th><span>Backlink</span></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Slider)
                            {
                            <tr>
                                <td style="width:30%">
                                    <img style="width:100%" src="@item.Image" alt="khong co anh">
                                </td>
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                    @item.CreatedAt.ToString("dd MMM yyyy")
                                </td>
                                <td class="text-center">
                                    <span class="label label-default">@Html.Raw(item.Status == true ? "Active" : "Inactive")</span>
                                </td>
                                <td style="width:20%">
                                    <a href="#">@item.BackLink</a>
                                </td>
                                <td>

                                    <a href="../Slider/EditSlider?id=@item.Id" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>

                                </td>
                                <td>

                                    <a href="/ManageMarketing/SliderDetail?id=@item.Id" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-solid fa-eye fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="blog-pagination">

                    @if (Model.Current_Page > 1)
                    {
                        <a href="../Slider?page=@Html.Raw(Model.Current_Page - 1)&filter=@Model.filter">Previous</a>
                    }
                    @for (int i = 1; i <= Model.CountList; i++)
                    {
                        <a href="../Slider?page=@i&filter=@Model.filter">@i</a>
                    }
                    @if (Model.Current_Page < Model.CountList)
                    {
                        <a href="../Slider?page=@Html.Raw(Model.Current_Page + 1)&filter=@Model.filter">Next</a>
                    }
                </div>
            </div>
        </div>
    </div>

