﻿.button-order-details {
    background: linear-gradient(310deg, #cb0c9f 0%, #cb0c9f 100%);
    margin-left: 20px;
    padding: 0 10px;
    border: none;
    border-radius: 20px;
    color: #FFF;
    text-transform: uppercase;
}

    .button-order-details:hover {
        background: #777;
        color: #FFF;
    }
