﻿
@{
    ViewBag.Title = "UserDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model Project.Controllers.UserListModel

<div class="container">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" style="width: 300px; height:300px" src="@Model.accounts.FirstOrDefault().Image">

            </div>
        </div>
        <div class="col-md-8 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">User Detail</h4>
                </div>
                <iv class="row mt-2">
                    <div class="col-md-6">
                        <p class="text-info" style="font-size: 18px">Name:</p>
                        <input type="text" class="form-control-plaintext" value="@Model.accounts.FirstOrDefault().FullName" disabled>
                    </div>
                    <div class="col-md-6">
                        <p class="text-info" style="font-size: 18px">Gender:</p>
                        <input type="text" class="form-control-plaintext" value="@Model.accounts.FirstOrDefault().Gender" disabled>
                    </div>
                </iv>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <p class="text-info" style="font-size: 18px">Mobile Phone:</p>
                        <input type="text" class="form-control-plaintext" value="@Model.accounts.FirstOrDefault().Phone" disabled>
                    </div>
                    <div class="col-md-12">
                        <p class="text-info" style="font-size: 18px">Email:</p>
                        <input type="text" class="form-control-plaintext" value="@Model.accounts.FirstOrDefault().Email" disabled>
                    </div>
                    <div class="col-md-12">
                        <p class="text-info" style="font-size: 18px">Address:</p>
                        <input type="text" class="form-control-plaintext" value="@Model.accounts.FirstOrDefault().Address" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

