
.blog-pagination {
    display: flex;
    justify-content: center;
    padding: 40px 0 20px 0;
    border-top: 1px solid #e9ecef;
}

    .blog-pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
    }

        .blog-pagination a.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .blog-pagination a:hover:not(.active) {
            background-color: #ddd;
        }

.btnSubmit {
    border: none;
    background: cornflowerblue;
    border-radius: 11px;
}
