﻿
@{
    ViewBag.Title = "CustomerEdit";
    Layout = "~/Views/Shared/_MarketingLayout.cshtml";
}


@model Project.Controllers.MKTCustomer

<div class="card">
    @using (Html.BeginForm("CustomerEdit", "MKT", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row g-0" style="height:auto">
            <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <img src="@Model.Customer.Image" id="main_product_image" class="imgd">
                </div>

            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <h4>FullName</h4>
                    <div class="input-group mb-3">
                        <p> @Model.Customer.FullName</p>
                    </div>
                    <h4>Email</h4>
                    <div class="input-group mb-3">
                        <p> @Model.Customer.Email</p>
                    </div>
                    <h4>Phone Number</h4>
                    <div class="input-group mb-3">
                        <p> @Model.Customer.Phone</p>
                    </div>
                    <h4>Address</h4>
                    <div class="input-group mb-3">
                        <p> @Model.Customer.Address</p>
                    </div>
                    <h4>Status</h4>
                    <div class="input-group mb-3">
                        @if (Model.Customer.IsActive == true) {
                            <select name="status">
                                    <option value="true" selected>Online</option>
                                    <option value="false">Offline</option>
                            </select>
                        }
                        else
                         {
                            <select name="status" >
                                    <option value="true">Online</option>
                                    <option value="false" selected>Offline</option>
                            </select>
                        }

                    </div>
                    <div class="buttons d-flex flex-row mt-5 gap-3">
                        <button class="btn btn-dark" type="submit">Save</button>

                    </div>

                </div>
            </div>
        </div>
    }
</div>



