﻿
@{
    ViewBag.Title = "CustomerDetail";
    Layout = "~/Views/Shared/_MarketingLayout.cshtml";
}

@model Project.Controllers.MKTCustomer

<div class="card">

        <div class="row g-0" style="height:auto">
            <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <img src="@Model.Customer.Image" id="main_product_image" class="imgd">
                </div>

            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <h4>FullName</h4>
                    <div class="input-group mb-3">
                        <p> @Model.Customer.FullName</p>
                    </div>
                    <h4>Email</h4>
                    <div class="input-group mb-3">
                        <p> @Model.Customer.Email</p>
                    </div>
                    <h4>Phone Number</h4>
                    <div class="input-group mb-3">
                        <p> @Model.Customer.Phone</p>
                    </div>
                    <h4>Address</h4>
                    <div class="input-group mb-3">
                        <p> @Model.Customer.Address</p>
                    </div>
                    <h4>Status</h4>
                    <div class="input-group mb-3">
                        @if (@Model.Customer.IsActive == true)
                        {
                        <span class="badge badge-sm bg-gradient-success">Online</span>
                        }
                        else
                        { 
                    <span class="badge badge-sm bg-gradient-danger">Offline</span>
                        }

                    </div>
                    <h4>Create At</h4>
                    <div class="input-group mb-3">
                        <p> @Model.Customer.CreatedAt </p>
                    </div>
                    <div class="buttons d-flex flex-row mt-5 gap-3">
                        <a class="btn btn-outline-dark" href="/ManageMarketing/AccountList">Back</a>
                        <a class="btn btn-outline-success" href="/MKT/CustomerEdit/@Model.Customer.Id">Edit</a>
                    </div>

                </div>
            </div>
        </div>
    
</div>

