﻿
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_MarketingLayout.cshtml";
}
@model Project.Controllers.MKTModel

<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">

            <!-- Page-header start -->
            <!-- Page-header end -->

            <div class="pcoded-inner-content">


                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Page-body start -->
                        <div class="page-body">
                            <div class="row">
                                <!-- Material statustic card start -->
                                <div class="col-xl-4 col-md-12">
                                    <div class="card mat-stat-card">
                                        <br />
                                        @using (Html.BeginForm("Dashboard", "MKT", FormMethod.Get))
                                        {
                                            <div class="card-block">
                                                <div class="md-form md-outline input-with-post-icon datepicker" id="firstDisable">
                                                    <h6 for="firstDisable-example">From : </h6>
                                                    <input placeholder="Select date" type="date" id="firstDisable-example" value="from" name="from" class="form-control">
                                                </div>
                                                <div class="md-form md-outline input-with-post-icon datepicker" id="firstDisable">
                                                    <h6 for="firstDisable-example">To : </h6>
                                                    <input placeholder="Select date" type="date" id="firstDisable-example" value="to" name="to" class="form-control">
                                                </div>
                                                <div class="text-center text-md-left">
                                                    <button class="btn btn-info" style="border-radius:0.5rem; margin-top:5px;" type="submit">Find</button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-12">
                                    <div class="card mat-stat-card">
                                        <div class="card-block">
                                            <div class="row align-items-center b-b-default">
                                                <div class="col-sm-6 b-r-default p-b-20 p-t-20">
                                                    <div class="row align-items-center text-center">
                                                        <div class="col-4 p-r-0">
                                                            <i class='fas fa-user-alt text-c-purple f-24'></i>
                                                        </div>
                                                        <div class="col-8 p-l-0">
                                                            <h5>@Model.NewAccount</h5>
                                                            <p class="text-muted m-b-0">Total User</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 p-b-20 p-t-20">
                                                    <div class="row align-items-center text-center">
                                                        <div class="col-4 p-r-0">
                                                            <i class="fas fa-book-open text-c-green f-24"></i>
                                                        </div>
                                                        <div class="col-8 p-l-0">
                                                            <h5>@Model.Posts</h5>
                                                            <p class="text-muted m-b-0">Posts</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-sm-6 p-b-20 p-t-20 b-r-default">
                                                    <div class="row align-items-center text-center">
                                                        <div class="col-4 p-r-0">
                                                            <i class="fab fa-product-hunt text-c-red f-24"></i>
                                                        </div>
                                                        <div class="col-8 p-l-0">
                                                            <h5>@Model.Product</h5>
                                                            <p class="text-muted m-b-0">Products</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 p-b-20 p-t-20">
                                                    <div class="row align-items-center text-center">
                                                        <div class="col-4 p-r-0">
                                                            <i class="fas fa-align-justify text-c-blue f-24"></i>
                                                        </div>
                                                        <div class="col-8 p-l-0">
                                                            <h5>@Model.Feedback</h5>
                                                            <p class="text-muted m-b-0">Feedbacks</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-12">
                                    <div class="card mat-clr-stat-card text-white green ">
                                        <div class="card-block">
                                            <div class="row">

                                                <div class="col-3 text-center bg-c-green">
                                                    <br />
                                                    <i class="fas fa-star f-30"></i>
                                                </div>
                                                <div class="col-9  cst-cont">
                                                    <h4>@Model.AverageStar</h4>
                                                    <h6 class="m-b-0">Average Star</h6>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mat-clr-stat-card text-white blue">
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-3 text-center bg-c-blue">
                                                    <br />
                                                    <i class="fas fa-money-bill f-30"></i>
                                                </div>
                                                <div class="col-9 cst-cont">
                                                    <h4>$@Model.TotalRevenues</h4>
                                                    <h6 class="m-b-0">Total Reveneus</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-md-12">
                                    <div class="card table-card">
                                        <div class="card-header">
                                            <h5>New Member</h5>
                                            <div class="card-header-right">
                                                <ul class="list-unstyled card-option">
                                                    <li><i class="fas fa-align-justify open-card-option"></i></li>
                                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                                    <li><i class="fa fa-refresh reload-card"></i></li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-block">
                                            <div class="table-responsive">
                                                <table class="table table-hover m-b-0 without-header">
                                                    <tbody>
                                                        @foreach (var ac in Model.NewMember)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <div class="d-inline-block align-middle">
                                                                        <img src="@ac.Image" class="img-radius img-40 align-top m-r-15">
                                                                        <div class="d-inline-block">
                                                                            <h6>@ac.FullName</h6>
                                                                            <p class="text-muted m-b-0">@ac.Email</p>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="text-right">
                                                                    @if (@ac.Gender == 0)
                                                                    {
                                                                        <h6 class="f-w-700">Nam<i class="fas fa-male text-c-blue m-l-10"></i></h6>
                                                                    }
                                                                    else
                                                                    { <h6 class="f-w-700">Nữ<i class="fas fa-female text-c-red m-l-10"></i></h6>}

                                                                </td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-12">
                                    <div class="row">
                                        <!-- sale card start -->


                                        @foreach (var rv in Model.RevenuesCategories)
                                        {
                                            <div class="col-md-6">
                                                <div class="card text-center order-visitor-card">
                                                    <div class="card-block">
                                                        <h6 class="m-b-0">@rv.CategoryName</h6>
                                                        <h4 class="m-t-15 m-b-15"><i class="fas fa-money-check m-r-15 text-c-green"></i>$@rv.Revenue</h4>
                                                        <p class="m-b-0">36% From Last 6 Months</p>
                                                    </div>
                                                </div>
                                            </div>}
                                        <div class="col-md-6">
                                            <div class="card text-center order-visitor-card">
                                                <div class="card-block">
                                                    <h6 class="m-b-0">Hot Trend</h6>
                                                    <h4 class="m-t-15 m-b-15"><i class="fab fa-hotjar m-r-15 text-c-red"></i>@Model.Trend.ProductName </h4>
                                                    <p class="m-b-0">Purchased quantity : @Model.Trend.Count</p>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- Page-body end -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>






