﻿
@{
    ViewBag.Title = "FeedbackDetail";
    Layout = "~/Views/Shared/_MarketingLayout.cshtml";
}

@model Project.Controllers.MKTFeedbackDetail

<div class="row">
    <div class="header-feedback-mkt">
        <h5>Feedback Detail</h5>
    </div>
    <div class="col-4">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Product Image</h6>
            </div>
            <div class="feedback_image">
                <img src="@Model.FeedbackProductImage.ImageProducts.ToList()[0].Image"
                     alt="">
            </div>

        </div>
    </div>
    <div class="col-8">
        <div class="card mb-4 ">
            <div class="header-detail-mkt ">
                <div class="card-header pb-0">
                    <h6>Detail</h6>
                </div>
            </div>
            <div class="feedback-item-detail">
                <div class="feedback-item-detail-name">
                    <p class="text-secondary name-title">Name:</p>
                    <p class="text-uppercase name-fill-dtb">@Model.CustomerFeedback.FullName</p>
                </div>
                <div class="feedback-item-detail-name">
                    <p class="text-secondary name-title">Email:</p>
                    <p class="text-secondary name-fill-dtb">@Model.CustomerFeedback.Email</p>
                </div>
                <div class="feedback-item-detail-name">
                    <p class="text-secondary name-title">Phone:</p>
                    <p class="text-secondary name-fill-dtb">@Model.CustomerFeedback.Phone</p>
                </div>
                <div class="feedback-item-detail-name">
                    <p class="text-secondary name-title">Feedback:</p>
                    <div class="text-secondary name-fill-dtb">
                       @Model.Feedback.Detail
                    </div>
                </div>
                <div class="feedback-item-detail-name">
                    <p class="text-secondary name-title">Rate:</p>
                    
                    <div class="rate-star-feedback-mkt">
                        @if (Model.Feedback.RateStar == 1)
                        {
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Feedback.RateStar == 2)
                        {
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Feedback.RateStar == 3)
                        {
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>

                        }
                        else if (Model.Feedback.RateStar == 4)
                        {
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        }
                        else
                        {
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        }

                    </div>
                </div>

            </div>
        </div>
        <div class="card col-12 feedback-mkt-more-options">
            <div class="image-feedback-mkt-more">
                <img src="@Model.Feedback.ImageFeedbacks.FirstOrDefault().Image" alt="">
            </div>
        </div>
    </div>
</div>

