﻿
@{
    ViewBag.Title = "PostDetail";
    Layout = "~/Views/Shared/_MarketingLayout.cshtml";
}
@model Project.Controllers.MKTPost
<link href="~/Content/blog/postdetail.css" rel="stylesheet" />
<div class="card">
    <div class="row g-0" style="height:auto">
        <div class="col-md-6 border-end">
            <div class="d-flex flex-column justify-content-center">

                <img src="@Model.PostDetail.Image" id="main_product_image" class="imgd">


            </div>
        </div>

        <div class="col-md-6">
            <div class="p-3 right-side">

                <div class="d-flex justify-content-between align-items-center">
                    <h3>@Model.PostDetail.Title</h3>
                    <span class="heart"><i class="bx bx-heart"></i></span>
                </div>
                
                <div class="mt-2 pr-3 content">
                    <p>
                        @Model.PostDetail.Detail
                    </p>
                </div>

                <h3>Author</h3>
                <div class="mt-2 pr-3 content">
                    <p>
                        @Model.PostDetail.AuthorName
                    </p>
                </div>
                <div class="ratings d-flex flex-row align-items-center">
                    <i class="bi bi-eye-fill"></i> <span>@Model.PostDetail.CountView views</span>
                </div>

                <div class="buttons d-flex flex-row mt-5 gap-3">
                    <a class="btn btn-outline-dark" href="../PostList" >Back</a>
                    <a class="btn btn-secondary" href="../PostEdit/@Model.PostDetail.Id">Edit</a>
                    <button class="btn btn-danger" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Delete</button>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="modal" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="width:auto;">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalToggleLabel">Delete</h5>
                <button class="btn-outline-dark" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <p class="text-center">Are you want to delete ?</p>
                <div class="">
                    <button class="btn btn-outline-dark" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    <a class="btn btn-danger" href="../DeletePostz/@Model.PostDetail.Id" >Delete</a>
                </div>
               
               

            </div>
        </div>
    </div>
</div>

