﻿
@{
    ViewBag.Title = "PostEdit";
    Layout = "~/Views/Shared/_MarketingLayout.cshtml";
}
@model Project.Controllers.MKTPost
<link href="~/Content/blog/postdetail.css" rel="stylesheet" />
<div class="card">
    @using (Html.BeginForm("PostEdit", "MKT", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row g-0" style="height:auto">
            <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <img src="@Model.PostDetail.Image" id="main_product_image" class="imgd" style="width:auto;max-height:800px;">
                    <div class="input-group" style="padding: 10px 10px 10px 10px;">
                        <input type="file" id="imgold" class="form-control" aria-label="Upload" name="image" accept="image/*" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>Title</h3>
                    </div>
                    <div class="input-group">
                        <input type="text" name="title" value="@Model.PostDetail.Title" required="" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                    <h3>Detail</h3>

                    <div class="mt-2 pr-3 content">
                        <textarea style="height:250px;" name="detail" class="form-control" aria-label="With textarea">@Model.PostDetail.Detail</textarea>

                    </div>
                    <h3>Author</h3>
                    <div class="input-group mb-3">
                        <p> @Model.PostDetail.AuthorName</p>
                    </div>
                    <div class="ratings d-flex flex-row align-items-center">
                        <i class="bi bi-eye-fill"></i> <span>@Model.PostDetail.CountView views</span>
                    </div>
                    <div class="buttons d-flex flex-row mt-5 gap-3">
                        <a class="btn btn-outline-dark" onclick="history.go(-1)">Back</a>
                        <button class="btn btn-dark" type="submit">Save</button>

                    </div>

                </div>
            </div>
        </div>
    }
</div>
<script>
    const imgold = document.getElementById('imgold');
    const imgnew = document.getElementById('main_product_image');
    imgold.onchange = evt => {
        const [file] = imgold.files
        if (file) {
            imgnew.src = URL.createObjectURL(file)
        }
    }
</script>
