﻿@model Project.Controllers.MKTProductDetailList
@{ 
    Layout = "~/Views/Shared/_MarketingLayout.cshtml";
}
@using Project.Models
<h2>Product List</h2>
<link rel="stylesheet" href="~/Content/style.css" />
<link rel="stylesheet" href="~/Content/blog/blogList.css" />
<link href="~/Content/blog/postdetail.css" rel="stylesheet" />
@{
    var message = TempData["successmessage"] ?? string.Empty;
}

<script type="text/javascript">
var message = '@message';
if(message)
    alert(message)
</script>
<div class="card">
    <div style="padding: 10px 10px 10px 10px" class="row">
        <div class="col-lg-12">
            <section class="widget">
                <header>

                    <div>
                        @using (Html.BeginForm("SearchProduct", "MKT", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {


                            <div style="display:inline-block">
                                <div style="color: #67748e">Filter by Category</div>
                                <select id="category" name="category" class="form-select">
                                    <option value="" selected>
                                        Select Category
                                    </option>
                                    @foreach (var item in (List<Category>)HttpContext.Current.Session["listCategory"])
                                    {
                                        if (item.Id == ViewBag.categoryId)
                                        {
                                            <option value="@item.Id" selected>@item.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Title</option>
                                        }
                                    }
                                </select>
                            </div>


                            <div style="display:inline-block; padding-left: 10px;">
                                <div style="color: #67748e ">Search by Id or name </div>
                                <div><input id="idOrName" name="idOrName" type="search" class="form-control rounded" value="@(String.IsNullOrEmpty(ViewBag.idOrName) == true?"":ViewBag.idOrName)" placeholder="Search" /></div>
                            </div>
                            <div style="display:inline-block"><input type="submit" style="background-color:lightgray;margin-top:1rem" class="btn btn-default" value="Search" /></div>
                            <div style="display:inline-block;float:right;margin-right:70px">
                                <a style="margin-top:1rem" class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Create Product</a>
                            </div>
                        }

                    </div>

                </header>
                <div class="widget-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="d-none d-md-table-cell">#</th>
                                    <th>Image</th>
                                    <th>Description</th>
                                    <th>Categories</th>
                                    <th class="d-none d-md-table-cell">Price</th>
                                    <th class="d-none d-md-table-cell">Status</th>
                                    <th>Date Created</th>
                                    <th>Date Updated</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    string a = "";
                                }
                                @foreach (var item in Model.MKTProductDetails)
                                {
                                    <tr>
                                        <td class="d-none d-md-table-cell">@item.Product.Id</td>
                                        <td>
                                            <a href="/MKT/ProductDetail/@item.Product.Id"><img class="img-rounded" src="@item.Images[0]" alt="" height="50"></a>

                                        </td>
                                        <td style="white-space:normal">
                                            <a href="/MKT/ProductDetail/@item.Product.Id">@item.Product.Title</a>
                                        </td>
                                        <td>
                                            @foreach (var category in item.Categories)
                                            {
                                                <div>@category.Title</div>
                                            }
                                        </td>
                                        <td class="d-none d-md-table-cell text-semi-muted">
                                            <div>Original Price: <s>@item.Product.OriginalPrice$</s></div>
                                            <div style="color:darkred">Sale Price: @item.Product.SalePrice$</div>
                                        </td>
                                        <td>
                                            @* @if (item.CountView > 2000)
            {
                <span class="badge badge-danger">Hot</span>
            }
            else
            {*@
                                            <span class="badge badge-success">On Stocking</span>
                                            @*}*@
                                        </td>
                                        <td class="d-none d-md-table-cell text-semi-muted">
                                            @item.Product.CreatedAt
                                        </td>
                                        <td class="d-none d-md-table-cell text-semi-muted">
                                            @item.Product.UpdatedAt
                                        </td>
                                        <td class="width-150">
                                            <a class="btn btn-secondary" href="/MKT/ProductEdit/@item.Product.Id">Edit</a>
                                            <a class="btn btn-danger" data-bs-toggle="modal" href="@("#Modal"+item.Product.Id)" role="button">Delete</a>
                                            <div class="modal" id="@("Modal"+item.Product.Id)" aria-hidden="true" aria-labelledby="@("Modal"+item.Product.Id)">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content" style="width:auto;">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-center" id="@("Modal"+item.Product.Id)">Delete</h5>
                                                            <button data-bs-dismiss="modal" aria-label="Close">X</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h6 class="text-center">Are you want to delete @item.Product.Title ?</h6>

                                                            <a class="btn btn-outline-dark" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
                                                            <a class="btn btn-danger" href="/MKT/DeleteProduct/@item.Product.Id/@ViewBag.Index">Delete</a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                }

                            </tbody>

                        </table>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>
<style>
    .blog-pagination a {
        color: #67748e;
        font-weight: bold;
    }
    table td{
        text-align:center;
    }
    table  th{
        text-align:center;
    }
</style>

<div class="blog-pagination">
    @if (ViewBag.Index != null && ViewBag.Index > 1)
    {
        <a href="/MKT/ProductList?index=@(ViewBag.Index-1)&categoryId=@ViewBag.categoryId&idOrName=@ViewBag.idOrNamee">Previous</a>
    }
    else
    {
        <a href="#">Previous</a>
    }

    @for (double i = 1; i < (((double)ViewBag.CountList / 9) + 1); i++)
    {
        if (i == ViewBag.Index)
        {
            <a style="background-color:khaki" href="/MKT/ProductList?index=@(i)&categoryId=@ViewBag.categoryId&idOrName=@ViewBag.idOrName">@i</a>
        }
        else
        {
            <a href="/MKT/ProductList?index=@(i)&categoryId=@ViewBag.categoryId&idOrName=@ViewBag.idOrName">@i</a>
        }

    }
    @if (ViewBag.Index != null && ViewBag.Index * 9 < ViewBag.CountList)
    {
        <a href="/MKT/ProductList?index=@(ViewBag.Index + 1)&categoryId=@ViewBag.categoryId&idOrName=@ViewBag.idOrName">Next</a>
    }
    else
    {
        <a href="#">Next</a>
    }
</div>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Create product</h5>
                <button class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateProduct", "MKT", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div>
                        <label>Title of Product</label>
                        <input type="text" id="Title" name="Title" class="form-control" placeholder="Enter Title">
                    </div>
                    <div>
                        <label>Category</label>
                        <select id="category" name="category" class="form-select">
                            <option selected>Select Category</option>
                            @foreach (var item in (List<Category>)HttpContext.Current.Session["listCategory"])
                            {
                                <option value="@item.Id">@item.Title</option>

                            }
                        </select>
                    </div>
                    <div>
                        <label> Detail </label>
                        <textarea name="Detail" id="Detail" class="form-control" placeholder="Enter detail"></textarea>
                    </div>
                    <div>
                        <label> Price </label>
                        <input type="text" name="price" id="price" class="form-control" placeholder="Enter Price"/>
                    </div>
                    <div>
                        <label> Upload image </label>
                        <input type="file" id="File" multiple="multiple" class="form-control" aria-label="Upload" name="File" accept="image/*" onfocus="focused(this)" onfocusout="defocused(this)">

                    </div>
                    <div>
                        <input class="btn btn-primary" type="submit" value="Add" />
                    </div>
                }

            </div>
        </div>
    </div>
</div>