﻿
@{
    ViewBag.Title = "ProductEdit";
    Layout = "~/Views/Shared/_MarketingLayout.cshtml";
}
@model Project.Controllers.MKTProductDetail

<link href="~/Content/blog/postdetail.css" rel="stylesheet" />
<link href="~/Content/product/product1.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />

<style>
    #file{
        display:none;
    }
    .imgz {
        width: auto;
        height: auto;
        padding: 10px;
        min-width: 600px;
        max-height: 500px;
    }
</style>

<div class="card">
    
    <div class="row g-0" style="height:auto">
        <div class="col-md-6 border-end">
            <div class="d-flex flex-column justify-content-center">
                <div class="main_image" style="height:auto;">
                    <img  class="imgz"
                         src="@Model.ProductCategory.FirstOrDefault().Product.ImageProducts.First().Image"
                         id="main_product_image" />
                </div>
                <div class="thumbnail_images">
                    <ul id="thumbnail">
                        @foreach (var img in Model.ProductCategory.FirstOrDefault().Product.ImageProducts)
                        {

                            <li class="card1">
                                <a class="badge bg-black text-dark position-absolute" onclick="deleteimg(@img.Id)" style="top: 0.2rem; right: 0.2rem">X</a>
                                <img onclick="changeImage(this)"
                                     src="@img.Image"
                                     id="imgid"
                                    
                                     width="70" />
                            </li>
                        }

                    </ul>
                    @using (Html.BeginForm("AddImg", "MKT", FormMethod.Post, new { enctype = "multipart/form-data"}))
                    {
                        <input type="file" class="inline" style="width:300px;" id="newimg" aria-label="Upload" name="image" accept="image/*" onfocus="focused(this)" accept=".jpg, .png, .jpeg" onfocusout="defocused(this)"> <button class="inline btn btn-secondary ">ADD</button>
                    }


                    </div>
            </div>
        </div>
       
        <div class="col-md-6">
            @using (Html.BeginForm("ProductEdit", "MKT", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="p-3 right-side">
                    <h3>Title</h3>
                    <div class="d-flex justify-content-between align-items-center">
                        <input type="text" name="title" value="@Model.ProductCategory.First().Product.Title" required="" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                    </div>
                    <h3>Detail</h3>

                    <div class="mt-2 pr-3 content">
                        <textarea style="height:200px;" name="detail" class="form-control" aria-label="With textarea">@Model.ProductCategory.First().Product.Detail</textarea>
                    </div>
                    <h3>Price</h3>
                    <div class="mt-2 pr-3 content">
                        <a> Sale price:   <input type="text" name="sale" value="@Model.ProductCategory.First().Product.SalePrice" required="" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)"></a>
                        <br />
                        <a> Original price:  <input type="text" name="original" value="@Model.ProductCategory.First().Product.OriginalPrice" required="" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)"></a>
                    </div>
                    <div class="ratings d-flex flex-row align-items-center">
                        <i class="bi bi-eye-fill"></i> <span> Category</span>
                    </div>
                    <div class="buttons d-flex flex-row mt-5 gap-3">
                        <a href="/MKT/ProductDetail/@Model.ProductCategory.First().ProductId" class="btn btn-outline-black ">Back</a>
                        <button type="submit" class="btn btn-secondary">Save</button>
                    </div>
                </div>
            }
            </div>
        
    </div>
    
</div>
<script>
    function changeImage(element) {

        var main_prodcut_image = document.getElementById('main_product_image');
        main_prodcut_image.src = element.src;
    }
    const deleteimg = (id) => {
        fetch('/MKT/DeleteImgProduct/' + id, {
            method: 'POST'
        }).then(
            console.log("add to cart " + id),
            location.reload()
        )
    }
   
    const imgnew = document.getElementById('main_product_image');
    const imgold = document.getElementById('newimg');
    
    imgold.onchange = evt => {
        const [file] = imgold.files
        if (file) {
            imgnew.src = URL.createObjectURL(file)
        }
    }
</script>


