﻿
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_MarketingLayout.cshtml";
}
@model Project.Controllers.MKTProductDetail

<link href="~/Content/product/product1.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
<style>
    .imgz {
        width: auto;
        height: auto;
        padding: 10px;
        min-width: 600px;
        max-height: 500px;
    }
</style>
<div class="container mt-5 mb-5">
    <div class="card1">
        <div class="row g-0">
            <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image" style="height:auto;">
                        <img src="@Model.ProductCategory.FirstOrDefault().Product.ImageProducts.First().Image"
                             id="main_product_image"
                             class="imgz" />
                    </div>
                    <div class="thumbnail_images">
                        <ul id="thumbnail">
                            @foreach (var img in Model.ProductCategory.FirstOrDefault().Product.ImageProducts)
                            {

                                <li style="padding:2px;">
                                    <img onclick="changeImage(this)"
                                         src="@img.Image"
                                         width="70" />
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">


                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3> @Model.ProductCategory.First().Product.Title</h3>
                        <span class="heart"><i class="bx bx-heart"></i></span>
                    </div>
                    <div class="mt-2 pr-3 content">
                        <p>
                            @Model.ProductCategory.First().Product.Detail
                        </p>
                    </div>
                    <div class="m-bot15">
                        <strong>Price : </strong>
                        <span class="amount-old">$@Model.ProductCategory.First().Product.SalePrice</span>
                        <span class="pro-price"> $@Model.ProductCategory.First().Product.OriginalPrice</span>
                    </div>


                    <div class="ratings d-flex flex-row align-items-center">
                        <div class="d-flex flex-row">
                            <i class="bx bxs-star"></i> <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i> <i class="bx bxs-star"></i>
                            <i class="bx bx-star"></i>
                        </div>
                        <span>441 reviews</span>
                    </div>

                    <div class=" d-flex flex-row mt-5 gap-3">
                        <a href="/MKT/ProductList" class="btn btn-outline-dark" style=" border-radius: 0.5rem; border: 1px solid black;">Back</a>
                        <a href="/MKT/ProductEdit/@Model.ProductCategory.First().ProductId" style=" border-radius: 0.5rem; border: 1px solid black;" class="btn btn-dark btn1">Edit Product</a>
                        <a class="btn btn-danger btn1" data-bs-toggle="modal" style=" border-radius: 0.5rem; border: 1px solid rgba(0, 0, 0, 0.125);" href="#exampleModalToggle" role="button">Delete</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="width: auto; margin: auto;">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalToggleLabel">Delete</h5>
                <button class="btn-outline-dark" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <p class="text-center">Are you want to delete ?</p>
                <div class="">
                    <button class="btn btn-outline-dark" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    <a class="btn btn-danger" href="../DeleteProduct/@Model.ProductCategory.First().ProductId">Delete</a>
                </div>



            </div>
        </div>
    </div>
</div>
<script>
    function changeImage(element) {

        var main_prodcut_image = document.getElementById('main_product_image');
        main_prodcut_image.src = element.src;
    }
</script>



