﻿@{
    ViewBag.Title = "title";
    Layout = "../Shared/_AdminLayout.cshtml";


}

@model Project.Controllers.UserListModel
<div class="container-userlist">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Name</th>
                <th class="text-center">Phone</th>
                <th class="text-center">Email</th>
                <th class="text-center">Detail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var acc in Model.accounts)
            {
                <tr>
                    <td class="accordion-item">@acc.Id</td>
                    <td class="accordion-item">@acc.FullName</td>
                    <td class="accordion-item"><span>@acc.Phone</span></td>
                    <td class="accordion-item">@acc.Email</td>
                    <td>@Html.ActionLink("View" , "UserDetail", new { id = acc.Id })</td>
                </tr>
            }
        </tbody>
    </table>
</div>
