﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SaleLayout.cshtml";
}
@using Project.Models
@model Project.Models.manage.SaleCommonViewModel
<!-- Required Fremwork -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- waves.css -->
<link rel="stylesheet" type="text/css" href="~/Content/sale/saledashbroad.css">

<div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">Succes Order</p>
                            <h5 class="font-weight-bolder mb-0">
                                @Model.CountOrderSuccess
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                            <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">Total Order</p>
                            <h5 class="font-weight-bolder mb-0">
                                @Model.CountOrder
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                            <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">Reveneus</p>
                            <h5 class="font-weight-bolder mb-0">
                                $@Model.TotalSales
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                            <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container py-2">
        <form method="GET" action="@Url.Action("Index","Sale")">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <label for="startDate">Start</label>
                    <input id="startDate" name="start" value="@Model.startDate" class="form-control" type="date" />
                    <span id="startDateSelected"></span>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <label for="endDate">End</label>
                    <input id="endDate" name="end" value="@Model.endDate" class="form-control" type="date" />
                    <span id="endDateSelected"></span>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <label>Status:</label>
                    <div class="d-flex">
                        <select name="status" class="form-select w-70 me-3" aria-label="Default select example" onchange="this.form.submit()">
                            <option @(Model.status_id == 0 ? "selected" : "") value="0">Order Placed</option>
                            <option @(Model.status_id == 1 ? "selected" : "") value="1">Processing</option>
                            <option @(Model.status_id == 2 ? "selected" : "") value="2">Shipping</option>
                            <option @(Model.status_id == 3 ? "selected" : "") value="3">Cancel</option>
                            <option @(Model.status_id == 4 ? "selected" : "") value="4">Complete</option>

                        </select>

                    </div>
                </div>
            </div>
            <div>
                <span class="d-flex justify-content-center pt-3">@Model.message</span>
            </div>
        </form>
    </div>
</div>
<div class="row mt-4">

    <div class="card z-index-2">

        <div class="card-body p-3">
            <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                <div class="chart">
                    <canvas id="chart-bars" class="chart-canvas" height="301"></canvas>
                </div>
            </div>
            <h6 class="ms-2 mt-4 mb-0 text-bold"> @Model.status_name</h6>
            <div class="container border-radius-lg">
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">

    function SetEndDate() {
        var selected_date = new Date(document.getElementById("startDate").Value);
        var end_date = new Date();
        end_date.setDate(selected_date.getDate() + 7);
        document.getElementById("endDate").Value = end_date.getDate();
    }

    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
        type: "bar",
        data: {
            labels: [
                @Html.Raw(Model.Last7Days)
            ],
            datasets: [{
                label: "Sales",
                tension: 0.4,
                borderWidth: 0,
                borderRadius: 4,
                borderSkipped: false,
                backgroundColor: "#fff",
                data: [
                    @Html.Raw(Model.Last7DaysData)
                ],
                maxBarThickness: 80
            },],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: false,
                        drawTicks: false,
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 500,
                        beginAtZero: true,
                        padding: 15,
                        font: {
                            size: 14,
                            family: "Open Sans",
                            style: 'normal',
                            lineHeight: 2
                        },
                        color: "#fff"
                    },
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: false,
                        drawTicks: false
                    },
                    ticks: {
                        display: false
                    },
                },
            },
        },
    });

</script>
