﻿@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
@model Project.Controllers.ListProductMKTViewModel
@using System.Collections.Generic;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/layout/productList.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ProductsListMKT</title>
</head>

<body>
    <div class="container">
        <div class="product-container">
        
        @foreach (var item in Model.listPVM)
        {
            <div class="product">
               
                   
                
                <div style="padding:0px 0px 0px 5%">
                    <div class="imgS">
                       <a href="../../MKT/ProductDetail/@item.Product.Id"><img class="img" src="@item.Images[0]" alt="img" /></a> 
                    </div>
                    <div>
                        Category:<select style="width:50%" name="categories" id="categories">
                            @foreach (var i in item.CateGories)
                            {
                                <option value="@(i[item.CateGories.IndexOf(i)])">@(i[item.CateGories.IndexOf(i)])</option>
                            }

                        </select>
                    </div>
                    <div>ProductId: @(item.Product.Id)</div>
                    <div>Tên sản phẩm: @(item.Product.Title)</div>
                    @if (item.Product.Detail.Length > 70)
                    {
                        <div>Chi tiết sản phẩm: @(item.Product.Detail.Substring(0,35)+"...")</div>
                    }
                    else
                    {
                        <div>Chi tiết sản phẩm: @(item.Product.Detail)</div>
                    }
                    <div style="color:red">Giá gốc: <s>@(item.Product.OriginalPrice+"VNĐ")</s></div>
                    <div style="color:red">Giá giảm: @(item.Product.SalePrice+"VNĐ")</div>
                    <div>Trạng thái: Còn hàng  <button style="font-size:medium;border-radius:3px 4px"><i class="fa fa-edit"></i></button></div>
                    





                </div>
            </div>
        }
        
    </div>
</div>


    <div class="product-pagination">
        @if (ViewBag.Index != null && ViewBag.Index > 1)
        {
            <a href="/ProductMKT/GetProductListMKT/@(ViewBag.Index-1)">Previous</a>
        }
        else
        {
            <a href="#">Previous</a>
        }

        @for (double i = 1; i < (((double)ViewBag.count) / 9) + 1; i++)
        {
            <a href="/ProductMKT/GetProductListMKT/@(i)">@i</a>
        }
        @if (ViewBag.Index != null && ViewBag.Index*9 < ViewBag.count)
        {
            <a href="/ProductMKT/GetProductListMKT/@(ViewBag.Index + 1)">Next</a>
        }
        else
        {
            <a href="#">Next</a>
        }





        </div>

</body>


</html>

