﻿@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SaleLayout.cshtml";
}
@model Project.Models.manage.SaleCommonViewModel
@using Project.Controllers
@using Project.Models

<!-- Required Fremwork -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- waves.css -->

<link rel="stylesheet" type="text/css" href="~/Content/order/">

<div class="row">
    <div class="col-12">
        <div class="d-flex flex-column justify-content-center align-items-center mb-3" id="order-heading">
            <div class="text-uppercase">
                <p>Order detail</p>
            </div>
            <div class="h4">@Model.Order.CreatedAt.ToString("MMM dd yyyy")</div>
            <div class="pt-1">
                <p>Order #@Model.Order.Id is currently<b class="text-dark"> @Model.status_name</b></p>
            </div>
        </div>
        <div class="p-4 bg-white w-100 order-details-saleborder">
            <div>
                <table class="table table-borderless">
                    <thead>
                        <tr class="text-uppercase text-muted">
                            <th class="col order-details-sale-widthsm">Product Information</th>
                            <th class="col order-details-sale-widthmd">Name</th>
                            <th class="col">Category</th>
                            <th class="col">Quantity</th>
                            <th class="col">Unit Price</th>
                            <th class="col text-right">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            ProjectEntities db = new ProjectEntities();
                            OrderDetail order_detail = null;
                            int total = 0;
                        }
                        @foreach (KeyValuePair<OrderDetail, Product> entry in Model.Order_detail)
                        {
                            total += entry.Value.SalePrice;
                            order_detail = entry.Key;
                            var image = db.ImageProducts.Where(x => x.ProductId == entry.Value.Id).Select(x => x.Image).First();
                            var product_cate = from p in db.ProductCategories
                                               join pc in db.Categories
                                               on p.CategoryId equals pc.Id
                                               where p.ProductId == entry.Value.Id
                                               select pc.Title;
                            <tr>
                                <th scope="row">
                                    <div class="mx-3">
                                        <img src="@image.ToString()" style="width:200px;height:auto" alt="apple" class="order-details-img">
                                    </div>
                                </th>
                                <td class="text-right long-title"><b>@entry.Value.Title</b></td>
                                <td class="text-right"><b>@product_cate.First()</b></td>
                                <td class="text-right"><b>@entry.Key.Quantity px</b></td>
                                <td class="text-right"><b>$@entry.Value.OriginalPrice</b></td>
                                <td class="text-right"><b>$@entry.Value.SalePrice</b></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="pt-2 border-bottom mb-3"></div>
                <div class="d-flex justify-content-start align-items-center pl-3 py-3 mb-4 border-bottom">
                    <div class="text-muted"> Today's Total: </div>
                    <div class="h5 order-details-sale__total"> &nbsp; $@total </div>
                </div>
                <div class="row border rounded p-1 my-3">
                    <h5 class="mt-2 text-uppercase">Receiver Information</h5>
                    <div class="col-md-6 py-1">
                        <div class="d-flex flex-column align-items start">
                            <b>Name: @Model.Order.FullName</b>
                            <p class="text-justify">Phone: @Model.Order.Phone</p>
                        </div>
                    </div>
                    <div class="col-md-6 py-1">
                        <div class="d-flex flex-column align-items start">
                            <b class="text-justify">Shipping Address:</b>
                            <p class="text-justify">@Model.Order.Address</p>
                            <p class="text-justify"></p>
                        </div>
                    </div>
                    <div class="col-md-6 py-1">
                        <div class="d-flex flex-column align-items start">
                            <b>Note</b>
                            <p class="text-justify pt-2">@Model.Order.Note</p>
                        </div>
                    </div>
                    <div class="col-md-6 py-1">
                        <div class="d-flex flex-column align-items start">
                            <b>Assigned Seller: </b>
                            <p class="text-justify pt-2">@Model.SellerName</p>
                        </div>
                    </div>

                </div>
                @if (Model.Account.Role == 2)
                {
                    <div class="pl-3 font-weight-bold">Sale Manager Tool</div>
                    <form action="@Url.Action("Assign","Order")" method="POST">
                        <input type="hidden" name="order_id" value="@Model.Order.Id" />
                        <div class="d-sm-flex my-3">
                            <div class="me-3">Change Status:</div>
                            <select name="status_id" class="form-select w-20" id="status">
                                <option @(Model.Order.Status == 0 ? "selected" : "") value="0">Order Placed</option>
                                <option @(Model.Order.Status == 1 ? "selected" : "") value="1">Processing</option>
                                <option @(Model.Order.Status == 2 ? "selected" : "") value="2">Shipping</option>
                                <option @(Model.Order.Status == 3 ? "selected" : "") value="3">Canceled</option>
                                <option @(Model.Order.Status == 4 ? "selected" : "") value="4">Complete</option>
                            </select>
                            <div class="me-3 ms-4"> Assgin Seller:</div>
                            <select name="seller_id" class="form-select w-20" id="name">
                                @foreach (var item in Model.seller_list)
                                {
                                    <option @(item.FullName == Model.SellerName ? "selected" : "" ) value="@item.Id">@item.FullName</option>
                                }
                            </select>
                            <button class="button-order-details">Submit</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
