﻿
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_SaleLayout.cshtml";
}
@using Project.Models
@model Project.Models.manage.SaleCommonViewModel

<!-- Required Fremwork -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- waves.css -->

<div class="row">
    <div class="col-12">
        <form method="GET" action="@Url.Action("Index","Order")">
            <div class="mb-4">
                <div class="mb-2 order-sale-dropdown">
                    <p class="order-sale-filtertxt">Sort by: </p>
                    <select name="sortby" class="form-select w-20" aria-label="Default select example" onchange="this.form.submit()">
                        <option value="0">Open this select menu</option>
                        <option @Html.Raw(Model.SortBy == 1 ? "selected" : "") value="1">Order Date</option>
                        <option @Html.Raw(Model.SortBy == 2 ? "selected" : "") value="2">Customer Name</option>
                        <option @Html.Raw(Model.SortBy == 3 ? "selected" : "") value="3">Total Price</option>
                    </select>
                </div>
                <div class="mb-2 order-sale-filter col-12 d-flex">
                    <div class="col-7">
                        <p class="order-sale-filtertxt">Filter by Status: </p>
                        <select name="filter" class="form-select w-25" aria-label="Default select example" onchange="this.form.submit()">
                            <option value="">Open this select menu</option>
                            <option @Html.Raw(Model.filter != null && Model.filter == "placed" ? "selected" : "") value="placed">Order Placed</option>
                            <option @Html.Raw(Model.filter != null && Model.filter == "complete" ? "selected" : "") value="complete">Complete</option>
                            <option @Html.Raw(Model.filter != null && Model.filter == "processing" ? "selected" : "") value="processing">Processing</option>
                            <option @Html.Raw(Model.filter != null && Model.filter == "shipping" ? "selected" : "") value="shipping">Shipping</option>
                            <option @Html.Raw(Model.filter != null && Model.filter == "cancel" ? "selected" : "") value="cancel">Cancel</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12">
        <div class="card mb-4">
            <div class="d-flex align-items-center">
                <div class="card-header pb-0 car-header--pdnone">
                    <h6>Order List Table</h6>
                </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">ID</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Customer</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Order Date</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Toltal Price</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach (KeyValuePair<Order, int> entry in Model.OrderList)
                           {
                            <tr>
                                <td class="text-xs font-weight-bold mb-0">
                                    <span class="text-secondary text-xs font-weight-bold px-2">@entry.Key.Id</span>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@entry.Key.FullName</h6>
                                            <p class="text-xs text-secondary mb-0">@entry.Key.Email</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    @{
                                        string status = "";
                                        string color = "";
                                        switch (entry.Key.Status)
                                        {
                                            case 0: status = "Order Placed"; color = "primary"; break;
                                            case 1: status = "Processing"; color = "warning"; break;
                                            case 2: status = "Shipping"; color = "info"; break;
                                            case 3: status = "Cancel"; color = "danger"; break;
                                            case 4: status = "Complete"; color = "success"; break;
                                        }
                                    }
                                    <span class="badge badge-sm btn btn-@Html.Raw(color)">
                                        @Html.Raw(status)
                                    </span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">@entry.Key.CreatedAt.ToString("dd/MM/yyyy-HH:mm:ss")</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">@entry.Value$</span>
                                </td>
                                <td class="align-middle">
                                    <a href="@Url.Action("Details","Order")/@entry.Key.Id" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                                       data-original-title="Edit user">
                                        View
                                    </a>
                                </td>
                            </tr>
                        }

                        </tbody>
                    </table>
                </div>
                @if (Model.CountOrder > 1)
                {
                <div class="d-flex justify-content-center mt-5 mb-4 sale-order-pagination">
                    @if (Model.current_page > 1)
                    {
                    <a href="@Url.Action("Index","Order")?page=@Html.Raw(Model.current_page - 1)@Html.Raw(Model.param != "" ? Model.param : "")">Previous</a>
                    }
                    @for (int i = 1; i <= Model.CountOrder; i++)
                    {
                        <a href="@Url.Action("Index","Order")?page=@i@Html.Raw(Model.param != "" ? Model.param : "")" @Html.Raw(Model.current_page == i ? "active" : "")>@i</a>
                    }
                    @if(Model.current_page < Model.CountOrder)
                    {
                        <a href="@Url.Action("Index","Order")?page=@Html.Raw(Model.current_page + 1)@Html.Raw(Model.param != "" ? Model.param : "")">Next</a>
                    }
                </div>
                }
            </div>
        </div>
    </div>
</div>





