@model Project.Models.feedback.FeedbackViewModel

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_CommonLayout.cshtml";
}

<div class="container my-order">
    <div class="row text-center mt-4 mb-4">
        <strong>Feedback</strong>
    </div>
    @if (Model.IsEmpty)
    {
        <div class="row">
            <div class="col-12 fs-6">
                <i>Your order is currently empty</i>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-4 list-feedback">
                @if (Model.ListOrderDetails != null)
                {
                    foreach (var orderDetail in Model.ListOrderDetails)
                    {
                        <a href="@($"/feedback?orderId={orderDetail.OrderId}&productId={orderDetail.ProductId}")" class="feedback-item @((orderDetail.OrderId == Model.OrderId) && (orderDetail.ProductId == Model.ProductId) ? "feedback-item-selected" : "")">
                            <img src="@(orderDetail.Product.ImageProducts.ToList()[0]?.Image)" alt="">
                            <div class="feedback-item-content">
                                <p>
                                    <strong>@orderDetail.Product.Title</strong>
                                </p>
                                <div class="feedback-item-content-time">
                                    <p>
                                        <i>@orderDetail.CreatedAt</i>
                                    </p>
                                    @if (orderDetail.FeedbackId == null)
                                    {
                                        <div class="feedback-item-content-dot"></div>
                                    }
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
            <div class="col-8 feedback-detail">
                <div class="feedback-detail-information">
                    <img src="@(Model.SelectOrderDetail.Product.ImageProducts.ToList()[0]?.Image)" alt="">
                    <div>
                        <div>
                            <div>
                                <strong>@Model.SelectOrderDetail.Product.Title</strong>
                            </div>
                        </div>
                        <div class="fb-d-time">
                            <div>@Model.SelectOrderDetail.CreatedAt</div>
                            <div><strong>@Model.SelectOrderDetail.Quantity Items</strong> - <span style="color: red">$@(Model.SelectOrderDetail.Quantity * Model.SelectOrderDetail.SalePrice)</span></div>
                        </div>
                    </div>
                </div>
                <hr>
                @if (Model.SelectOrderDetail.FeedbackId == null)
                {
                    <div>
                        @using (Html.BeginForm("SubmitFeedback", "Feedback", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="input-rate row">
                                <div class="col-1">
                                    <strong>Rate: </strong>
                                </div>
                                <div class="rate-star col-5">
                                    <button type="button" onclick="changeRateStar(1)">
                                        <img id="image-rate-1"
                                             src="https://img.icons8.com/ios-glyphs/60/ffbb00/star--v1.png"
                                             alt="1"/>
                                    </button>
                                    <button type="button" onclick="changeRateStar(2)">
                                        <img id="image-rate-2"
                                             src="https://img.icons8.com/ios-glyphs/60/ffbb00/star--v1.png"
                                             alt="2"/>
                                    </button>
                                    <button type="button" onclick="changeRateStar(3)">
                                        <img id="image-rate-3"
                                             src="https://img.icons8.com/ios-glyphs/60/ffbb00/star--v1.png"
                                             alt="3"/>
                                    </button>
                                    <button type="button" onclick="changeRateStar(4)">
                                        <img id="image-rate-4"
                                             src="https://img.icons8.com/ios-glyphs/60/ffbb00/star--v1.png"
                                             alt="4"/>
                                    </button>
                                    <button type="button" onclick="changeRateStar(5)">
                                        <img id="image-rate-5"
                                             src="https://img.icons8.com/ios-glyphs/60/ffbb00/star--v1.png"
                                             alt="5"/>
                                    </button>
                                    <input type="number" name="rate" value="5" id="star">
                                    <input type="number" value="@(Model.SelectOrderDetail.OrderId)" name="orderId">
                                    <input type="number" value="@(Model.SelectOrderDetail.ProductId)" name="productId">
                                </div>
                            </div>
                            <div class="input-note row">
                                <div class="col-1">
                                    <strong>Note: </strong>
                                </div>
                                <div class="col-5">
                                    <textarea name="note" id="asd" cols="30" rows="6"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <strong>Image:</strong>
                                </div>
                                <div class="col-5">
                                    <input type="file" name="images" id="image" accept="image/*" multiple="multiple" required>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-1"></div>
                                <div class="col-5">
                                    <button class="feedback-button-submit" type="submit">Submit feedback</button>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-1">
                            <strong>Rate: </strong>
                        </div>
                        <div class="col-5 rate-star">
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i < Model.SelectOrderDetail.Feedback.RateStar)
                                {
                                    <img src="https://img.icons8.com/ios-glyphs/60/ffbb00/star--v1.png"/>
                                }
                                else
                                {
                                    <img src="https://img.icons8.com/ios-glyphs/60/f1f1f1/star--v1.png"/>
                                }
                            }
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-1">
                            <strong>Note: </strong>
                        </div>
                        <div class="col-5">
                            @Model.SelectOrderDetail.Feedback.Detail
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-1">
                            <strong>Images: </strong>
                        </div>
                        <div class="col-5">
                            @for (int i = 0; i < Model.SelectOrderDetail.Feedback.ImageFeedbacks.Count; i++)
                            {
                                <img class="image-feedback-o" src="@Model.SelectOrderDetail.Feedback.ImageFeedbacks.ToList()[i].Image"/>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

<script>
  const changeRateStar = (star) => {
    const normalStar = 'https://img.icons8.com/ios-glyphs/60/f1f1f1/star--v1.png'
    const goldStar = 'https://img.icons8.com/ios-glyphs/60/ffbb00/star--v1.png'

    for (let i = 0; i < 5; i++) {
      if (i < star) {
        document.getElementById(`image-rate-${i + 1}`).src = goldStar
      } else {
        document.getElementById(`image-rate-${i + 1}`).src = normalStar
      }
    }

    document.getElementById('star').value = star
  }
</script>