@model Project.Models.AccountListMarketingViewModel

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_MarketingLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4 p-2 pt-4">
            <form>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" id="" value="@Model.QueryName" name="name" placeholder="Filter name ... ">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" id="" value="@Model.QueryEmail" name="email" placeholder="Filter email ... ">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" id="" value="@Model.QueryPhone" name="phone" placeholder="Filter phone ... ">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" name="sortBy" id="">
                                <option @(Model.SortBy == 1 ? "selected" : "") value="1">Sort by created time <i>(default)</i></option>
                                <option @(Model.SortBy == 2 ? "selected" : "") value="2">Sort by name</option>
                                <option @(Model.SortBy == 3 ? "selected" : "") value="3">Sort by email</option>
                                <option @(Model.SortBy == 4 ? "selected" : "") value="4">Sort by mobile</option>
                                <option @(Model.SortBy == 5 ? "selected" : "") value="5">Sort by status</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn bg-gradient-info justify-content-center"
                                style="text-transform: capitalize;">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Gender
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Mobile
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Address
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Status
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var account in Model.ListAccount)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div>
                                            <img
                                                src="@account.Image" style="object-fit: cover"
                                                class="avatar avatar-sm me-3" alt="user1">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@account.FullName</h6>
                                            <p class="text-xs text-secondary mb-0">@account.Email</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span class="@(account.Gender == 0 ? "text-info" : "text-danger") text-xs font-weight-bold">@(account.Gender == 0 ? "Male" : "Female")</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">@account.Phone</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span class="text-sm">
                                            <span class="text-secondary text-s">
                                                <span class="">@account.Address</span>
                                            </span>
                                        </span>
                                    </span>
                                </td>
                                <td class="align-middle text-center">
                                    @if (account.IsActive)
                                    {
                                        <span class="badge badge-sm bg-gradient-success">Active</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-sm bg-gradient-danger">In-active</span>
                                    }
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <a href="/MKT/CustomerDetail/@account.Id" class="text-info font-weight-bold text-xs" data-toggle="tooltip"
                                       data-original-title="Edit user">
                                        <i class="fa-solid fa-eye">
                                            
                                        </i>
                                        View
                                    </a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-info justify-content-center">
                    <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                        <a class="page-link" href="/ManageMarketing/AccountList?page=@(Model.Page - 1)&name=@(Model.QueryName)&email=@(Model.QueryEmail)&phone=@(Model.QueryPhone)&sortBy=@(Model.SortBy)" tabindex="-1">
                            <i class="fa fa-angle-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    @for (var i = 0; i < Model.TotalPage; i++)
                    {
                        <li class="page-item cus-mkt-list @(Model.Page == i + 1 ? "active" : "")">
                            <a class="page-link" href="/ManageMarketing/AccountList?page=@(i + 1)&name=@(Model.QueryName)&email=@(Model.QueryEmail)&phone=@(Model.QueryPhone)&sortBy=@(Model.SortBy)">@(i + 1)</a>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link @(Model.Page == Model.TotalPage ? "disabled" : "")" href="/ManageMarketing/AccountList?page=@(Model.Page + 1)&name=@(Model.QueryName)&email=@(Model.QueryEmail)&phone=@(Model.QueryPhone)&sortBy=@(Model.SortBy)">
                            <i class="fa fa-angle-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>