@model Project.Models.FeedbackMarketingViewModel

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_MarketingLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4 p-2 pt-4">
            <form action="/ManageMarketing/Feedback" method="get">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" name="q" id="" value="@Model.Query" placeholder="Search here ... ">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" name="sortBy" id="">
                                <option @(Model.SortBy == 1 ? "selected" : "") value="1">Sort by product name</option>
                                <option @(Model.SortBy == 2 ? "selected" : "") value="2">Sort by user</option>
                                <option @(Model.SortBy == 3 ? "selected" : "") value="3">Sort by star</option>
                                <option @(Model.SortBy == 4 ? "selected" : "") value="4">Sort by status</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn bg-gradient-info justify-content-center"
                                style="text-transform: capitalize;">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Product
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                User
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Star feedback
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Status
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var feedback in Model.ListFeedback)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div>
                                            <img
                                                src="@(feedback.OrderDetails.ToList()[0]?.Product.ImageProducts.ToList()[0]?.Image)"
                                                class="avatar avatar-sm me-3" alt="user1" style="object-fit: cover">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@(feedback.OrderDetails.ToList()[0]?.Product.Title)</h6>
                                            <p class="text-xs text-secondary mb-0">Time feedback: @feedback.CreatedAt</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">
                                        @(feedback.OrderDetails.ToList()[0]?.Order.Phone), @(feedback.OrderDetails.ToList()[0]?.Order.FullName), @(feedback.OrderDetails.ToList()[0]?.Order.Email)
                                    </span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs">
                                        @for (var i = 0; i < 5; i++)
                                        {
                                            if (feedback.RateStar > i)
                                            {
                                                <i style="color: orange;" class="fa-solid fa-star"></i>
                                            }
                                            else
                                            {
                                                <i class="fa-solid fa-star"></i>
                                            }
                                        }
                                    </span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="badge badge-sm bg-gradient-success">Success</span>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <a href="/MKT/FeedbackDetail/@feedback.Id" class="text-info font-weight-bold text-xs" data-toggle="tooltip"
                                       data-original-title="Edit user">
                                        <i class="fa-solid fa-eye"></i>
                                        View
                                    </a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-info justify-content-center">
                    <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                        <a class="page-link" href="/ManageMarketing/Feedback?page=@(Model.Page - 1)&q=@(Model.Query)&sortBy=@(Model.SortBy)" tabindex="-1">
                            <i class="fa fa-angle-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    @for (var i = 0; i < Model.TotalPage; i++)
                    {
                        <li class="page-item cus-mkt-list @(Model.Page == i + 1 ? "active" : "")">
                            <a class="page-link" href="/ManageMarketing/Feedback?page=@(i + 1)&q=@(Model.Query)&sortBy=@(Model.SortBy)">@(i + 1)</a>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link @(Model.Page == Model.TotalPage ? "disabled" : "")" href="/ManageMarketing/Feedback?page=@(Model.Page + 1)&q=@(Model.Query)&sortBy=@(Model.SortBy)">
                            <i class="fa fa-angle-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>