@model Project.Models.SliderDetailMarketingViewModel

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_MarketingLayout.cshtml";
}

<div class="row">
    <div class="col-5">
        <div class="card mb-4 p-3">
            <h6 class="card-title">
                Image slider
            </h6>
            <img src="@Model.SelectSlider.Image" alt="">
        </div>
    </div>
    <div class="col-7">
        <div class="card mb-4 p-3 px-4">
            <div class="mb-2">
                <h6 class="card-title">
                    Information
                </h6>
            </div>

            <div class="row">
                <div class="col-2">
                    <p>Title:</p>
                </div>
                <div class="col-10 text-dark">
                    <p>
                        <strong>@Model.SelectSlider.Title</strong>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <p>Backlink:</p>
                </div>
                <div class="col-10 text-dark">
                    <p>@Model.SelectSlider.BackLink</p>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <p>Create by:</p>
                </div>
                <div class="col-10 text-dark">
                    <p>@Model.SelectSlider.Account.FullName</p>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <p>Status:</p>
                </div>
                <div class="col-10 text-dark">
                    @if (Model.SelectSlider.Status)
                    {
                        <span class="badge badge-sm bg-gradient-success">Active</span>
                    }
                    else
                    {
                        <span class="badge badge-sm bg-gradient-danger">In-active</span>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <p>Note:</p>
                </div>
                <div class="col-10 text-dark" style="text-align: justify;">
                    <p>
                        @Model.SelectSlider.Note
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>