﻿
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@model Project.Models.BlogListViewModel
<body>
    <div class="blog-single gray-bg">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-lg-8 m-15px-tb">
                    <article class="article">
                        <div class="article-img">
                            <img class="blog-img__default" src="@Model.blog.Image" title="" alt="">
                        </div>
                        <div class="article-title">
                            <h6><a href="#">Lifestyle</a></h6>
                            <h2>@Model.blog.Title</h2>
                            <div class="media">
                                <div class="avatar">
                                    <img src="@Model.Author.Image" title="" alt="">
                                </div>
                                <div class="media-body">
                                    <label>@Model.Author.FullName</label>
                                    <span>@Model.blog.UpdatedAt.ToString("dd MMM yyyy")</span>
                                </div>
                            </div>
                        </div>
                        <div class="article-content">
                            <p>
                                @Model.blog.Detail
                            </p>
                            
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 m-15px-tb blog-aside">
                    <!-- Author -->
                    <div class="widget widget-author">
                        <div class="widget-title">
                            <h3>Author</h3>
                        </div>
                        <div class="widget-body">
                            <div class="media align-items-center">
                                <div class="avatar">
                                    <img src="@Model.Author.Image" title="" alt="">
                                </div>
                                <div class="media-body">
                                    <h6>Written by<br> @Model.Author.FullName</h6>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <!-- End Author -->
                    <!-- Trending Post -->
                    <div class="widget widget-post">
                        <div class="widget-title">
                            <h3>Trending Now</h3>
                        </div>
                        <div class="widget-body">
                            @if (Model.TrendingPost != null)
                            {
                            foreach (var item in Model.TrendingPost)
                            {                                
                                    <div class="latest-post-aside media">
                                        <div class="lpa-left media-body">
                                            <div class="lpa-title">
                                                <h5><a href="../Blog/BlogDetail?id=@item.Key.Id">@item.Key.Title</a></h5>
                                            </div>
                                            <div class="lpa-meta">
                                                <a class="name" href="#">
                                                    @item.Value.FullName
                                                </a>
                                                <a class="date" href="#">
                                                    @item.Value.UpdatedAt.ToString("dd MMM yyyy")
                                                </a>
                                            </div>
                                        </div>
                                        <div class="lpa-right">
                                            <a href="#">
                                                <img src="@item.Key.Image" title="" alt="">
                                            </a>
                                        </div>
                                    </div>
                               
                            }}
                        </div>
                    </div>
                    <!-- End Trending Post -->
                    <!-- Latest Post -->
                    <div class="widget widget-latest-post">
                        <div class="widget-title">
                            <h3>Latest Post</h3>
                        </div>
                        @if (Model.LastestPost != null)
                        {
                        foreach (var item in Model.LastestPost)
                        {
                            <div class="widget-body">
                                <div class="latest-post-aside media">
                                    <div class="lpa-left media-body">
                                        <div class="lpa-title">
                                            <h5><a href="../Blog/BlogDetail?id=@item.Key.Id">@item.Key.Title</a></h5>
                                        </div>
                                        <div class="lpa-meta">
                                            <a class="name" href="#">
                                                @item.Value.FullName
                                            </a>
                                            <a class="date" href="#">
                                                @item.Value.UpdatedAt.ToString("dd MMM yyyy")
                                            </a>
                                        </div>
                                    </div>
                                    <div class="lpa-right">
                                        <a href="#">
                                            <img src="@item.Key.Image" title="" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }}
                    </div>
                    <!-- End Latest Post -->
                </div>
            </div>
        </div>
    </div>
</body>


