﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@model Project.Models.BlogListViewModel

<body>
    <div class="blog">
        <div class="container">
            <div class="blog-container">

                @foreach (var item in Model.BlogList)
                {
                    <div class="blog-list">
                        <div class="left-content">
                            <p class="left-content__desc">New post</p>
                            <img class="img" src="@item.Image" alt="blog">
                            <h3 class="left-content__ttl">@item.Title</h3>
                        </div>

                        <div class="right-content">
                            <div class="right-content__desc">
                                @item.Detail
                            </div>
                            <a class="blog-moredesc" href="@Url.Action("BlogDetail","Blog")?id=@item.Id">Read more</a>
                        </div>
                    </div>
                }

            </div>
            <div class="blog-pagination">
                @if (ViewBag.Index != null && ViewBag.Index > 1)
                {
                    <a href="/Blog/Index/@(ViewBag.Index-1)">Previous</a>
                }
                else
                {
                    <a href="#">Previous</a>
                }

                @for (double i = 1; i < (((double)Model.CountList) / 9) + 1; i++)
                {
                    if (i == ViewBag.Index)
                    {
                        <a style="background-color:khaki"  href="/Blog/Index/@(i)">@i</a>
                    }
                    else
                    {
                        <a href="/Blog/Index/@(i)">@i</a>
                    }
                }
                @if (ViewBag.Index != null && ViewBag.Index * 9 < Model.CountList)
                {
                    <a href="/Blog/Index/@(ViewBag.Index + 1)">Next</a>
                }
                else
                {
                    <a href="#">Next</a>
                }
            </div>
        </div>
    </div>
</body>
